{"openapi":"3.1.0","info":{"title":"CommsHarbor","version":"2d690e87","description":"CommsHarbor API. Organization identity is explicit and tenant-scoped."},"servers":[{"url":"https://commsharbor.com"}],"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","description":"Human session or scoped organization API key. Organization identity remains explicit."}},"schemas":{"ApiIndex":{"type":"object","properties":{"name":{"type":"string","description":"Product name."},"description":{"type":"string","description":"What the product does, in one sentence."},"build":{"type":"string","description":"Deployed commit."},"environment":{"type":"string","description":"Which environment answered: `production`, `staging` or `local`."},"base_url":{"type":"string","description":"Origin this API is served from."},"docs":{"type":"object","description":"Links to llms.txt, llms-full.txt, openapi.json, the MCP endpoint and the human UI."},"auth":{"type":"object","description":"Every authentication mode and how to obtain it."},"endpoints":{"type":"array","items":{"type":"object"},"description":"Every endpoint with method, path, auth, absolute URL and what it returns."},"mcp":{"type":"object","description":"Remote MCP endpoint and transport."},"mcp_tools":{"type":"array","items":{"type":"string"},"description":"Name of every MCP tool."}},"required":["name","description","build","environment","base_url","docs","auth","endpoints","mcp","mcp_tools"],"description":"The self-describing index of the whole API."},"Health":{"type":"object","properties":{"ok":{"type":"boolean","description":"Always true when the Worker answers."},"app":{"type":"string","description":"Product name."},"build":{"type":"string","description":"Deployed commit; CI passes the short SHA at deploy time."},"environment":{"type":"string","description":"Which environment answered."},"timestamp":{"type":"string","description":"Response time (UTC, ISO-8601)."}},"required":["ok","app","build","environment","timestamp"],"description":"Liveness and the commit currently serving. Smoke tests wait for their own deploy here instead of racing edge propagation."},"User":{"type":"object","properties":{"id":{"type":"string","description":"User ID."},"email":{"type":"string","description":"Email address confirmed by one-time code."}},"required":["id","email"],"description":"The person behind the session."},"Ok":{"type":"object","properties":{"ok":{"type":"boolean","description":"Always true — failures arrive as a 4xx/5xx status, never as `ok:false`."}},"required":["ok"],"description":"Write confirmation for an operation with no body of its own."},"Profile":{"type":"object","properties":{"display_name":{"type":"string","description":"Name shown in the interface.","nullable":true},"locale":{"type":"string","description":"Preferred language, e.g. `en` or `pt-br`.","nullable":true}},"required":["display_name","locale"],"description":"Personal preferences. They belong to the person, not to any organization."},"Organization":{"type":"object","properties":{"id":{"type":"string","description":"Organization ID, used in every tenant route."},"name":{"type":"string","description":"Display name."},"sending_domain":{"type":"string","description":"Domain the organization sends from.","nullable":true},"created_at":{"type":"string","description":"Creation time (UTC, ISO-8601)."}},"required":["id","name","sending_domain","created_at"],"description":"A tenant. Every piece of customer data in this product is scoped to exactly one."},"Identity":{"type":"object","properties":{"kind":{"type":"string","description":"How the identity was resolved."},"organizationId":{"type":"string","description":"The active organization."},"userId":{"type":"string","description":"The person, when a session is in play."},"email":{"type":"string","description":"The person's e-mail, on a session."},"sessionId":{"type":"string","description":"Session identifier, on a session."},"role":{"type":"string","description":"Role inside that organization; sessions only."},"organization":{"type":"object","description":"`{ id, name, slug }` of the active organization; sessions only."},"apiKeyId":{"type":"string","description":"Which key answered, on an API key."},"scopes":{"type":"array","items":{"type":"string"},"description":"Granted scopes; present on an API key, which carries its own narrower set."}},"required":["kind","organizationId"],"description":"Who the current credential resolves to. Read this before a write when you are not sure which organization is active."},"Membership":{"type":"object","properties":{"organization_id":{"type":"string","description":"The organization."},"user_id":{"type":"string","description":"The member."},"role":{"type":"string","description":"What the member may do."},"created_at":{"type":"string","description":"When the membership started (UTC)."}},"required":["organization_id","user_id","role","created_at"],"description":"One person's place in one organization."},"Invitation":{"type":"object","properties":{"id":{"type":"string","description":"Invitation ID."},"email":{"type":"string","description":"Who is being invited."},"role":{"type":"string","description":"Role the invitation grants."},"expires_at":{"type":"string","description":"When the invitation stops working (UTC)."},"invitation_token":{"type":"string","description":"The invitation token. Present only on the response that created it."},"token_notice":{"type":"string","description":"Reminder that the token is shown once."}},"required":["id","email","role","expires_at"],"description":"An invitation into an existing organization. The token is revealed once, at creation, and never listed again."},"ApiKey":{"type":"object","properties":{"id":{"type":"string","description":"API key ID, used to revoke it."},"name":{"type":"string","description":"Label chosen at creation."},"scopes":{"type":"array","items":{"type":"string"},"description":"What this key may do, e.g. `crm:read`, `messages:send`."},"prefix":{"type":"string","description":"Token prefix, so a key can be recognised in a list."},"last_used_at":{"type":"string","description":"When the key last answered; null if never.","nullable":true},"revoked_at":{"type":"string","description":"When it was revoked; null while it is still valid.","nullable":true},"created_at":{"type":"string","description":"Creation time (UTC)."},"token":{"type":"string","description":"The key itself. Present only on the response that created it — it is never shown again."}},"required":["id","name","scopes","prefix","last_used_at","revoked_at","created_at"],"description":"A scoped machine credential. It determines its own organization and rejects a conflicting header."},"PageCamelAuditEvent":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/AuditEvent"},"description":"The records on this page."},"nextCursor":{"type":"string","description":"Cursor for the next page; null when there are no more.","nullable":true}},"required":["items","nextCursor"],"description":"The same listing with the cursor in camelCase. Older resources ship it this way and the name is kept because changing it would break clients already reading it."},"AuditEvent":{"type":"object","properties":{"id":{"type":"string","description":"Event ID."},"action":{"type":"string","description":"What happened, e.g. `api_key.created`."},"actor_user_id":{"type":"string","description":"Who did it; null when the actor was a key or the system.","nullable":true},"target":{"type":"string","description":"What it happened to.","nullable":true},"metadata":{"type":"object","description":"Extra context for this action. Never contains recipient PII."},"created_at":{"type":"string","description":"When it happened (UTC)."}},"required":["id","action","actor_user_id","target","metadata","created_at"],"description":"One append-only record of something that happened in the organization. Audit is never rewritten."},"ListaDomain":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/Domain"},"description":"Every record in the collection."}},"required":["items"],"description":"A complete, unpaginated collection — used where the set is bounded by design."},"Domain":{"type":"object","properties":{"id":{"type":"string","description":"Domain ID."},"domain":{"type":"string","description":"The domain itself, e.g. `example.com`."},"status":{"type":"string","description":"Last observed state."},"dkim_tokens":{"type":"array","items":{"type":"string"},"description":"CNAME records to publish for DKIM."},"dmarc":{"type":"object","description":"DMARC policy observed at the domain.","nullable":true},"mail_from":{"type":"object","description":"Custom MAIL FROM subdomain and its observed state.","nullable":true},"last_observed_at":{"type":"string","description":"When SES and DNS were last actually checked (UTC).","nullable":true},"created_at":{"type":"string","description":"Registration time (UTC)."}},"required":["id","domain","status","dkim_tokens","dmarc","mail_from","last_observed_at","created_at"],"description":"A sending domain. State is only ever what was OBSERVED at SES and DNS — this product does not infer it."},"Provisioning":{"type":"object","properties":{"queued":{"type":"boolean","description":"Whether this call enqueued provisioning work."},"job_id":{"type":"string","description":"The provisioning job, when one was created.","nullable":true}},"required":["queued","job_id"],"description":"The idempotent SES provisioning queued for a domain. Asking twice does not provision twice."},"Delivery":{"type":"object","properties":{"id":{"type":"string","description":"Delivery ID."},"status":{"type":"string","description":"Delivery state, authoritative in D1."},"domain_id":{"type":"string","description":"Domain it was sent from."},"template_id":{"type":"string","description":"Template used.","nullable":true},"template_version":{"type":"integer","description":"Immutable template version used.","nullable":true},"ses_message_id":{"type":"string","description":"SES MessageId, for correlating with AWS.","nullable":true},"created_at":{"type":"string","description":"When it was queued (UTC)."}},"required":["id","status","domain_id","template_id","template_version","ses_message_id","created_at"],"description":"One queued message. It never carries the recipient address or the body — that is deliberate, not an omission."},"Capacity":{"type":"object","properties":{"remaining":{"type":"integer","description":"Sends still available to this organization."},"global_remaining":{"type":"integer","description":"Sends still available across the whole platform this month."},"hard_cap":{"type":"integer","description":"The global monthly cap on real recipients. Nothing raises it."}},"required":["remaining","global_remaining","hard_cap"],"description":"What is left to send. The bootstrap global cap always prevails over any tenant allowance."},"Dispatch":{"type":"object","properties":{"queued":{"type":"boolean","description":"Whether a Queue message was produced."},"job_id":{"type":"string","description":"Dispatch job ID, when one was created.","nullable":true}},"required":["queued","job_id"],"description":"What actually happened to the queue message behind this send."},"ListaDelivery":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/Delivery"},"description":"Every record in the collection."}},"required":["items"],"description":"A complete, unpaginated collection — used where the set is bounded by design."},"ListaDeliveryEvent":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/DeliveryEvent"},"description":"Every record in the collection."}},"required":["items"],"description":"A complete, unpaginated collection — used where the set is bounded by design."},"DeliveryEvent":{"type":"object","properties":{"id":{"type":"string","description":"Event ID."},"event_type":{"type":"string","description":"What SES reported."},"occurred_at":{"type":"string","description":"When SES says it happened (UTC)."},"detail":{"type":"object","description":"Normalized detail for this event type, without recipient PII."}},"required":["id","event_type","occurred_at","detail"],"description":"A normalized SES feedback event. Open and Click are ADDITIVE — they never overwrite delivery state."},"PageContact":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/Contact"},"description":"The records on this page."},"next_cursor":{"type":"string","description":"Cursor for the next page; null when there are no more.","nullable":true}},"required":["items","next_cursor"],"description":"Cursor-paginated listing. A null cursor means this was the last page."},"Contact":{"type":"object","properties":{"id":{"type":"string","description":"Contact ID."},"email":{"type":"string","description":"Email address, normalized and never truncated."},"first_name":{"type":"string","description":"Given name.","nullable":true},"last_name":{"type":"string","description":"Family name.","nullable":true},"company_id":{"type":"string","description":"Company this contact belongs to.","nullable":true},"created_at":{"type":"string","description":"Creation time (UTC)."},"updated_at":{"type":"string","description":"Last change (UTC).","nullable":true},"url":{"type":"string","description":"Absolute URL of this contact — agents never build the path by hand."}},"required":["id","email","first_name","last_name","company_id","created_at","updated_at","url"],"description":"A person in the tenant CRM. Marketing consent is a separate resource — being in the CRM is not permission to email."},"PageCompany":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/Company"},"description":"The records on this page."},"next_cursor":{"type":"string","description":"Cursor for the next page; null when there are no more.","nullable":true}},"required":["items","next_cursor"],"description":"Cursor-paginated listing. A null cursor means this was the last page."},"Company":{"type":"object","properties":{"id":{"type":"string","description":"Company ID."},"name":{"type":"string","description":"Company name."},"domain":{"type":"string","description":"Primary domain.","nullable":true},"website":{"type":"string","description":"Website URL.","nullable":true},"created_at":{"type":"string","description":"Creation time (UTC)."},"updated_at":{"type":"string","description":"Last change (UTC).","nullable":true},"url":{"type":"string","description":"Absolute URL of this company."}},"required":["id","name","domain","website","created_at","updated_at","url"],"description":"An organization in the tenant CRM — a customer of the customer, not a tenant of this product."},"PagePipeline":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/Pipeline"},"description":"The records on this page."},"next_cursor":{"type":"string","description":"Cursor for the next page; null when there are no more.","nullable":true}},"required":["items","next_cursor"],"description":"Cursor-paginated listing. A null cursor means this was the last page."},"Pipeline":{"type":"object","properties":{"id":{"type":"string","description":"Pipeline ID."},"name":{"type":"string","description":"Pipeline name."},"created_at":{"type":"string","description":"Creation time (UTC)."},"url":{"type":"string","description":"Absolute URL of this pipeline."}},"required":["id","name","created_at","url"],"description":"A named sequence of stages that deals move through."},"PageDeal":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/Deal"},"description":"The records on this page."},"next_cursor":{"type":"string","description":"Cursor for the next page; null when there are no more.","nullable":true}},"required":["items","next_cursor"],"description":"Cursor-paginated listing. A null cursor means this was the last page."},"Deal":{"type":"object","properties":{"id":{"type":"string","description":"Deal ID."},"title":{"type":"string","description":"What the deal is."},"pipeline_id":{"type":"string","description":"Pipeline the deal lives in."},"stage_id":{"type":"string","description":"Current stage."},"status":{"type":"string","description":"Where it stands."},"value_minor":{"type":"integer","description":"Value in the currency's minor unit — cents, not dollars.","nullable":true},"currency":{"type":"string","description":"ISO 4217 code for `value_minor`.","nullable":true},"contact_id":{"type":"string","description":"Main contact on the deal.","nullable":true},"company_id":{"type":"string","description":"Company on the deal.","nullable":true},"created_at":{"type":"string","description":"Creation time (UTC)."},"updated_at":{"type":"string","description":"Last change (UTC).","nullable":true},"url":{"type":"string","description":"Absolute URL of this deal."}},"required":["id","title","pipeline_id","stage_id","status","value_minor","currency","contact_id","company_id","created_at","updated_at","url"],"description":"An opportunity moving through a pipeline. Money is stored in minor units to avoid float rounding."},"PageActivity":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/Activity"},"description":"The records on this page."},"next_cursor":{"type":"string","description":"Cursor for the next page; null when there are no more.","nullable":true}},"required":["items","next_cursor"],"description":"Cursor-paginated listing. A null cursor means this was the last page."},"Activity":{"type":"object","properties":{"id":{"type":"string","description":"Activity ID."},"activity_type":{"type":"string","description":"What kind of activity it was, e.g. `note`, `call`, `meeting`."},"note":{"type":"string","description":"The text of the activity."},"deal_id":{"type":"string","description":"Deal it refers to.","nullable":true},"contact_id":{"type":"string","description":"Contact it refers to.","nullable":true},"company_id":{"type":"string","description":"Company it refers to.","nullable":true},"created_at":{"type":"string","description":"Creation time (UTC)."},"url":{"type":"string","description":"Absolute URL of this activity."}},"required":["id","activity_type","note","deal_id","contact_id","company_id","created_at","url"],"description":"Something that happened with a contact, company or deal — a note, a call, a meeting."},"PageTask":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/Task"},"description":"The records on this page."},"next_cursor":{"type":"string","description":"Cursor for the next page; null when there are no more.","nullable":true}},"required":["items","next_cursor"],"description":"Cursor-paginated listing. A null cursor means this was the last page."},"Task":{"type":"object","properties":{"id":{"type":"string","description":"Task ID."},"title":{"type":"string","description":"What has to be done."},"status":{"type":"string","description":"Current state."},"due_at":{"type":"string","description":"When it is due (UTC).","nullable":true},"assignee_user_id":{"type":"string","description":"Member responsible for it.","nullable":true},"deal_id":{"type":"string","description":"Deal the task belongs to.","nullable":true},"contact_id":{"type":"string","description":"Contact the task belongs to.","nullable":true},"created_at":{"type":"string","description":"Creation time (UTC)."},"updated_at":{"type":"string","description":"Last change (UTC).","nullable":true},"url":{"type":"string","description":"Absolute URL of this task."}},"required":["id","title","status","due_at","assignee_user_id","deal_id","contact_id","created_at","updated_at","url"],"description":"Work someone still has to do, inside the tenant CRM."},"PageStage":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/Stage"},"description":"The records on this page."},"next_cursor":{"type":"string","description":"Cursor for the next page; null when there are no more.","nullable":true}},"required":["items","next_cursor"],"description":"Cursor-paginated listing. A null cursor means this was the last page."},"Stage":{"type":"object","properties":{"id":{"type":"string","description":"Stage ID."},"pipeline_id":{"type":"string","description":"Pipeline this stage belongs to."},"name":{"type":"string","description":"Stage name, e.g. `Proposal`."},"position":{"type":"integer","description":"Order within the pipeline, lowest first."},"probability":{"type":"integer","description":"Chance of winning at this stage, 0 to 100.","nullable":true},"url":{"type":"string","description":"Absolute URL of this stage."}},"required":["id","pipeline_id","name","position","probability","url"],"description":"One step of a pipeline. Stages belong to a pipeline and are addressed under it."},"PageLead":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/Lead"},"description":"The records on this page."},"next_cursor":{"type":"string","description":"Cursor for the next page; null when there are no more.","nullable":true}},"required":["items","next_cursor"],"description":"Cursor-paginated listing. A null cursor means this was the last page."},"Lead":{"type":"object","properties":{"id":{"type":"string","description":"Lead ID."},"email":{"type":"string","description":"Contact email for the lead."},"name":{"type":"string","description":"Who to talk to."},"company_name":{"type":"string","description":"Name of the prospective organization.","nullable":true},"source":{"type":"string","description":"Where the lead came from, e.g. `manual`.","nullable":true},"stage":{"type":"string","description":"Where the lead is in our own funnel, e.g. `new`."},"organization_id":{"type":"string","description":"The organization this lead became, once it converted.","nullable":true},"created_at":{"type":"string","description":"Creation time (UTC)."},"updated_at":{"type":"string","description":"Last change (UTC).","nullable":true},"url":{"type":"string","description":"Absolute URL of this lead."}},"required":["id","email","name","company_name","source","stage","organization_id","created_at","updated_at","url"],"description":"A prospective ORGANIZATION in the platform CRM. This is our own pipeline about tenants — it is not tenant data, and it is only reachable with an explicit platform grant."},"PagePlatformTask":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/PlatformTask"},"description":"The records on this page."},"next_cursor":{"type":"string","description":"Cursor for the next page; null when there are no more.","nullable":true}},"required":["items","next_cursor"],"description":"Cursor-paginated listing. A null cursor means this was the last page."},"PlatformTask":{"type":"object","properties":{"id":{"type":"string","description":"Task ID."},"title":{"type":"string","description":"What has to be done."},"status":{"type":"string","description":"Current state."},"lead_id":{"type":"string","description":"Lead the task belongs to.","nullable":true},"due_at":{"type":"string","description":"When it is due (UTC).","nullable":true},"assignee_user_id":{"type":"string","description":"Who is responsible.","nullable":true},"created_at":{"type":"string","description":"Creation time (UTC)."},"updated_at":{"type":"string","description":"Last change (UTC).","nullable":true},"url":{"type":"string","description":"Absolute URL of this task."}},"required":["id","title","status","lead_id","due_at","assignee_user_id","created_at","updated_at","url"],"description":"Work on a platform lead. Same idea as a CRM task, different subject: this one is about a prospective tenant, not about a tenant's customer."},"PagePlatformActivity":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/PlatformActivity"},"description":"The records on this page."},"next_cursor":{"type":"string","description":"Cursor for the next page; null when there are no more.","nullable":true}},"required":["items","next_cursor"],"description":"Cursor-paginated listing. A null cursor means this was the last page."},"PlatformActivity":{"type":"object","properties":{"id":{"type":"string","description":"Activity ID."},"activity_type":{"type":"string","description":"What kind of activity it was, e.g. `note`."},"note":{"type":"string","description":"The text of the activity."},"lead_id":{"type":"string","description":"Lead it refers to."},"created_at":{"type":"string","description":"Creation time (UTC)."},"url":{"type":"string","description":"Absolute URL of this activity."}},"required":["id","activity_type","note","lead_id","created_at","url"],"description":"Something that happened with a platform lead — our note about a prospective tenant."},"Marketing":{"type":"object","properties":{"marketing_enabled":{"type":"boolean","description":"Whether marketing may be sent to this contact right now."},"basis":{"type":"string","description":"Why sending is allowed.","nullable":true},"source":{"type":"string","description":"Where the consent came from, e.g. a signup form.","nullable":true},"captured_at":{"type":"string","description":"When consent was captured (UTC).","nullable":true},"unsubscribed_at":{"type":"string","description":"When the contact unsubscribed; null when they never did.","nullable":true}},"required":["marketing_enabled","basis","source","captured_at","unsubscribed_at"],"description":"Consent and preference for one contact. Recording consent NEVER restores a previous unsubscribe — that asymmetry is the point."},"PreferenceToken":{"type":"object","properties":{"api_url":{"type":"string","description":"Machine-readable preference endpoint."},"preferences_url":{"type":"string","description":"Human preference page."},"unsubscribe_url":{"type":"string","description":"RFC 8058 one-click unsubscribe endpoint."},"marketing_headers":{"type":"object","description":"`List-Unsubscribe` and `List-Unsubscribe-Post`, ready to add to the message."}},"required":["api_url","preferences_url","unsubscribe_url","marketing_headers"],"description":"Signed URLs for the preference centre and one-click unsubscribe, plus the headers to put in the message."},"PreferenceState":{"type":"object","properties":{"marketing_enabled":{"type":"boolean","description":"Whether marketing may be sent."},"unsubscribed_at":{"type":"string","description":"When the contact unsubscribed.","nullable":true},"expires_at":{"type":"string","description":"When this capability stops working (UTC)."}},"required":["marketing_enabled","unsubscribed_at","expires_at"],"description":"What the signed capability reveals. No login, and no email address is exposed."},"Send":{"type":"object","properties":{"delivery":{"allOf":[{"$ref":"#/components/schemas/Delivery"}],"description":"The delivery record."},"capacity":{"allOf":[{"$ref":"#/components/schemas/Capacity"}],"description":"What is left after this send."},"dispatch":{"allOf":[{"$ref":"#/components/schemas/Dispatch"}],"description":"The queue work behind it."},"replayed":{"type":"boolean","description":"True when this was a replay of an earlier identical request."}},"required":["delivery","capacity","dispatch","replayed"],"description":"The result of queueing one message. `replayed` true means an equivalent Idempotency-Key already existed and NO second message was produced."},"PageContactImport":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/ContactImport"},"description":"The records on this page."},"next_cursor":{"type":"string","description":"Cursor for the next page; null when there are no more.","nullable":true}},"required":["items","next_cursor"],"description":"Cursor-paginated listing. A null cursor means this was the last page."},"ContactImport":{"type":"object","properties":{"id":{"type":"string","description":"Import ID."},"status":{"type":"string","description":"Where the import stands."},"rows":{"type":"integer","description":"Rows found in the CSV."},"accepted":{"type":"integer","description":"Rows that will be imported."},"rejected":{"type":"integer","description":"Rows rejected, with reasons in the errors listing."},"basis":{"type":"string","description":"Declared consent basis for every row."},"file_id":{"type":"string","description":"Stored file, downloadable for seven days.","nullable":true},"created_at":{"type":"string","description":"Upload time (UTC)."}},"required":["id","status","rows","accepted","rejected","basis","file_id","created_at"],"description":"A CSV import of contacts, with the consent declaration that made it legal to import them."},"ImportError":{"type":"object","properties":{"row":{"type":"integer","description":"1-based row number in the uploaded CSV."},"code":{"type":"string","description":"Why it was rejected, e.g. `invalid_email`."},"message":{"type":"string","description":"The reason in a sentence."}},"required":["row","code","message"],"description":"One rejected row, addressed by line number so it can be fixed in the source file."},"PageImportError":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/ImportError"},"description":"The records on this page."},"next_cursor":{"type":"string","description":"Cursor for the next page; null when there are no more.","nullable":true}},"required":["items","next_cursor"],"description":"Cursor-paginated listing. A null cursor means this was the last page."},"PageSuppression":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/Suppression"},"description":"The records on this page."},"next_cursor":{"type":"string","description":"Cursor for the next page; null when there are no more.","nullable":true}},"required":["items","next_cursor"],"description":"Cursor-paginated listing. A null cursor means this was the last page."},"Suppression":{"type":"object","properties":{"id":{"type":"string","description":"Suppression ID."},"scope":{"type":"string","description":"How far it reaches."},"reason":{"type":"string","description":"Why it exists, e.g. `bounce`, `complaint`, `manual`."},"contact_id":{"type":"string","description":"CRM contact it matches, when known.","nullable":true},"created_at":{"type":"string","description":"When it was added (UTC)."}},"required":["id","scope","reason","contact_id","created_at"],"description":"A recipient that must not be emailed. Suppressions are checked BEFORE quota and before any queue work."},"PageAudience":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/Audience"},"description":"The records on this page."},"next_cursor":{"type":"string","description":"Cursor for the next page; null when there are no more.","nullable":true}},"required":["items","next_cursor"],"description":"Cursor-paginated listing. A null cursor means this was the last page."},"Audience":{"type":"object","properties":{"id":{"type":"string","description":"Audience ID."},"name":{"type":"string","description":"Audience name."},"kind":{"type":"string","description":"How membership is decided."},"filter":{"type":"object","description":"The saved filter, for `saved_segment`. Only allowlisted fields are accepted.","nullable":true},"member_count":{"type":"integer","description":"Contacts currently in the audience.","nullable":true},"created_at":{"type":"string","description":"Creation time (UTC)."}},"required":["id","name","kind","filter","member_count","created_at"],"description":"Who a campaign goes to: a static list or a saved segment with an allowlisted filter."},"PageCamelTemplate":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/Template"},"description":"The records on this page."},"nextCursor":{"type":"string","description":"Cursor for the next page; null when there are no more.","nullable":true}},"required":["items","nextCursor"],"description":"The same listing with the cursor in camelCase. Older resources ship it this way and the name is kept because changing it would break clients already reading it."},"Template":{"type":"object","properties":{"id":{"type":"string","description":"Template ID."},"name":{"type":"string","description":"Template name."},"message_type":{"type":"string","description":"What it may be used for."},"subject":{"type":"string","description":"Subject line, with `{{variable}}` placeholders."},"variables":{"type":"array","items":{"type":"object"},"description":"Typed variables the template declares: name, type and whether it is required."},"blocks":{"type":"array","items":{"type":"object"},"description":"Canonical content blocks. Imported HTML is converted into these."},"status":{"type":"string","description":"Draft state."},"latest_version":{"type":"integer","description":"Highest published version; null while never published.","nullable":true},"updated_at":{"type":"string","description":"Last change (UTC).","nullable":true}},"required":["id","name","message_type","subject","variables","blocks","status","latest_version","updated_at"],"description":"An email template as a draft. Published versions are immutable and live in their own resource."},"TemplateVersion":{"type":"object","properties":{"version":{"type":"integer","description":"Version number, increasing."},"content_hash":{"type":"string","description":"Hash of the compiled content; it is the version's identity."},"subject":{"type":"string","description":"Subject at this version."},"published_at":{"type":"string","description":"Publication time (UTC)."}},"required":["version","content_hash","subject","published_at"],"description":"A published version. Immutable and identified by the hash of its content — republishing identical content does not create a new one."},"ListaTemplateVersion":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/TemplateVersion"},"description":"Every record in the collection."}},"required":["items"],"description":"A complete, unpaginated collection — used where the set is bounded by design."},"TemplatePreview":{"type":"object","properties":{"subject":{"type":"string","description":"Subject with variables applied."},"html":{"type":"string","description":"Rendered HTML."},"text":{"type":"string","description":"Plain-text alternative."},"warnings":{"type":"array","items":{"type":"string"},"description":"What was stripped or would not render — active content, forms, unsafe URLs."}},"required":["subject","html","text","warnings"],"description":"A draft compiled and rendered safely, without publishing anything."},"TemplateExport":{"type":"object","properties":{"template_id":{"type":"string","description":"ID of the exported template."},"version":{"type":"integer","description":"Exported version number."},"subject":{"type":"string","description":"Subject at that version."},"html":{"type":"string","description":"Compiled HTML."},"text":{"type":"string","description":"Plain-text alternative."},"mjml":{"type":"string","description":"MJML source of the compiled blocks."},"content_hash":{"type":"string","description":"Hash identifying the version."}},"required":["template_id","version","subject","html","text","mjml","content_hash"],"description":"The latest published version in every form it exists."},"PageCamelCampaign":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/Campaign"},"description":"The records on this page."},"nextCursor":{"type":"string","description":"Cursor for the next page; null when there are no more.","nullable":true}},"required":["items","nextCursor"],"description":"The same listing with the cursor in camelCase. Older resources ship it this way and the name is kept because changing it would break clients already reading it."},"Campaign":{"type":"object","properties":{"id":{"type":"string","description":"Campaign ID."},"name":{"type":"string","description":"Campaign name."},"status":{"type":"string","description":"Where the campaign is."},"domain_id":{"type":"string","description":"Domain it sends from."},"audience_id":{"type":"string","description":"Audience it goes to."},"template_id":{"type":"string","description":"Published marketing template used."},"template_version":{"type":"integer","description":"Frozen template version."},"scheduled_for":{"type":"string","description":"When it is scheduled, in the organization's timezone.","nullable":true},"frozen_recipients":{"type":"integer","description":"How many recipients were frozen at launch.","nullable":true},"created_at":{"type":"string","description":"Creation time (UTC)."}},"required":["id","name","status","domain_id","audience_id","template_id","template_version","scheduled_for","frozen_recipients","created_at"],"description":"A marketing send to an audience. Launching freezes the eligible recipients exactly once — the frozen set is what gets sent, no matter what changes afterwards."},"CampaignReport":{"type":"object","properties":{"campaign":{"allOf":[{"$ref":"#/components/schemas/Campaign"}],"description":"The campaign being reported on."},"deliveries":{"type":"object","description":"Delivery counts by state."},"events":{"type":"object","description":"Normalized feedback counts by event type."}},"required":["campaign","deliveries","events"],"description":"Campaign reconciliation: what was delivered and what came back. Counts only — no recipient data."},"MessagingSettings":{"type":"object","properties":{"timezone":{"type":"string","description":"IANA timezone used to schedule campaigns, e.g. `America/Sao_Paulo`."},"marketing_state":{"type":"string","description":"Whether marketing may go out."},"paused_reason":{"type":"string","description":"Why marketing was paused, when it was.","nullable":true}},"required":["timezone","marketing_state","paused_reason"],"description":"Timezone and marketing pause state. A reputation or SES tenant risk pauses marketing automatically, and resuming requires a healthy observation first."},"ListaWebhook":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/Webhook"},"description":"Every record in the collection."}},"required":["items"],"description":"A complete, unpaginated collection — used where the set is bounded by design."},"Webhook":{"type":"object","properties":{"id":{"type":"string","description":"Webhook ID."},"url":{"type":"string","description":"HTTPS destination."},"event_types":{"type":"array","items":{"type":"string"},"description":"Which events are delivered to it."},"status":{"type":"string","description":"Whether it is receiving."},"created_at":{"type":"string","description":"Creation time (UTC)."},"secret":{"type":"string","description":"Signing secret for timestamped HMAC-SHA256. Present only on the response that created it."}},"required":["id","url","event_types","status","created_at"],"description":"An HTTPS endpoint that receives delivery events. The signing secret is revealed once, at creation."},"BillingPublic":{"type":"object","properties":{"catalog":{"allOf":[{"$ref":"#/components/schemas/BillingCatalog"}],"description":"Plans and prices in force."},"payment":{"allOf":[{"$ref":"#/components/schemas/PlanoX402"}],"description":"x402 configuration: network, asset, facilitator and where to pay."},"invite_only":{"type":"boolean","description":"Whether new organizations require an invitation."}},"required":["catalog","payment","invite_only"],"description":"The public billing view: catalog, x402 configuration and whether signup is invite-only."},"BillingCatalog":{"type":"object","properties":{"version":{"type":"string","description":"Catalog version, so a client can tell prices changed."},"trial":{"type":"object","description":"What a new organization gets for free."},"pass":{"type":"object","description":"The paid pass: what it grants and what it costs."},"topup":{"type":"object","description":"One-off send top-up: size and price."},"checkout_live":{"type":"boolean","description":"Whether live checkout is enabled. While false, a purchase returns an x402 challenge."},"global_recipient_hard_cap":{"type":"integer","description":"Real recipients per month across the whole platform. This always prevails."},"auto_renew":{"type":"boolean","description":"Always false — nothing here renews by itself."}},"required":["version","trial","pass","topup","checkout_live","global_recipient_hard_cap","auto_renew"],"description":"Plans and prices, versioned. Nothing here auto-renews — a pass or a top-up is bought once and runs out."},"PlanoX402":{"type":"object","properties":{"provider":{"type":"string","description":"Always `x402` — the only billing protocol accepted."},"mode":{"type":"string","description":"Seller mode: `live` charges for real, `dev` lets calls through unpaid."},"network":{"type":"string","description":"USDC network: `base` in production, `base-sepolia` in staging."},"chain_id":{"type":"integer","description":"EVM chain ID of the network above, so the wallet signs on the right chain."},"pay_to":{"type":"string","description":"Address that receives the payment.","nullable":true},"homolog":{"type":"boolean","description":"Staging seam on: the loop can be closed without spending USDC."},"dev":{"type":"boolean","description":"Development mode: the 402 is simulated."},"dev_gate":{"type":"string","description":"How dev mode is unlocked, when it exists.","nullable":true},"facilitator":{"type":"string","description":"URL of the facilitator that verifies and settles the payment."},"asset":{"type":"string","description":"Accepted currency — always `USDC`."},"asset_address":{"type":"string","description":"USDC contract on the network above."},"faucet":{"type":"string","description":"Test-USDC faucet; only on base-sepolia.","nullable":true},"wallets":{"type":"object","description":"Links to wallets that speak x402 (metamask, coinbase, base_app)."}},"required":["provider","mode","network","chain_id","pay_to","homolog","dev","dev_gate","facilitator","asset","asset_address","faucet","wallets"],"description":"x402 payment configuration in force. Comes from `planPublic` and is the same across the products."},"BillingTenant":{"type":"object","properties":{"catalog":{"allOf":[{"$ref":"#/components/schemas/BillingCatalog"}],"description":"Plans and prices in force."},"state":{"type":"object","description":"Current entitlement: what is active, how many sends remain and when it expires."},"warning":{"type":"object","description":"Expiration or exhaustion warning, when one applies.","nullable":true},"payment":{"allOf":[{"$ref":"#/components/schemas/PlanoX402"}],"description":"x402 configuration for paying."}},"required":["catalog","state","warning","payment"],"description":"What THIS organization is entitled to, and how close it is to running out."},"Operations":{"type":"object","properties":{"alerts":{"type":"array","items":{"type":"object"},"description":"Current alerts, each with a kind, a severity and what to do."},"billing":{"type":"object","description":"Quota position at the time of the observation."},"capacity":{"type":"object","description":"Conservative SES and SNS capacity observations."}},"required":["alerts","billing","capacity"],"description":"Operational alerts for the organization — DLQ, backlog, worker and SNS failures, reputation, paused sending, quota and SES/SNS cost capacity. Never contains recipient PII."},"ListaDataExport":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/DataExport"},"description":"Every record in the collection."}},"required":["items"],"description":"A complete, unpaginated collection — used where the set is bounded by design."},"DataExport":{"type":"object","properties":{"id":{"type":"string","description":"Export ID."},"status":{"type":"string","description":"Where the export stands."},"expires_at":{"type":"string","description":"When the file is deleted (UTC)."},"created_at":{"type":"string","description":"Creation time (UTC)."}},"required":["id","status","expires_at","created_at"],"description":"A tenant-scoped JSON export, retained for seven days."},"Deletion":{"type":"object","properties":{"id":{"type":"string","description":"Deletion request ID.","nullable":true},"status":{"type":"string","description":"Where the request stands."},"scheduled_for":{"type":"string","description":"When erasure runs, after the grace period (UTC).","nullable":true},"requested_by":{"type":"string","description":"Who scheduled it.","nullable":true}},"required":["id","status","scheduled_for","requested_by"],"description":"A scheduled tenant erasure. It waits seven days, and what survives is pseudonymous financial and audit evidence only."},"Metricas":{"type":"object","properties":{"app":{"type":"string","description":"Product name."},"today":{"type":"string","description":"Reference day (UTC, YYYY-MM-DD)."},"today_visits":{"type":"integer","description":"Interface visits counted today."},"today_contacts":{"type":"integer","description":"Contact messages today. Only with `METRICS_TOKEN`: contact counts never leave without the token."},"days":{"type":"array","items":{"type":"object"},"description":"One row per day of the window, with each metric's count."},"usage":{"type":"object","description":"`entregas`: deliveries per day — real product usage, not catalog load."},"accounts":{"type":"object","description":"`organizacoes`: total organizations registered."},"financeiro":{"type":"object","description":"Day aggregate: `hoje_usd`, `hoje_count`, `rede`. Only with `METRICS_TOKEN`: money never leaves without the token; the full series is `payments`."},"payments":{"type":"object","description":"x402 financial summary; METRICS_TOKEN only."}},"required":["app","today","today_visits","days","usage","accounts"],"description":"7-day operator dashboard. `payments` only appears with the token and only on Base mainnet."}}},"paths":{"/okf/{arquivo}":{"get":{"operationId":"get_okf_by_arquivo","summary":"OKF bundle (Open Knowledge Format v0.1): markdown with frontmatter so an agent reads the whole product without parsing HTML.","description":"Returns: `text/markdown`. Start at `/okf/index.md`, which lists the bundle.","security":[],"parameters":[{"name":"arquivo","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"`text/markdown`. Start at `/okf/index.md`, which lists the bundle."},"404":{"description":"File outside the bundle."}}}},"/.well-known/{arquivo}":{"get":{"operationId":"get_well_known_by_arquivo","summary":"Machine discovery before the home page: `api-catalog` (RFC 9727, a linkset with the API and the MCP), `security.txt` (RFC 9116) and `mcp-registry-auth` (the official MCP registry key).","description":"Returns: `application/linkset+json` for the api-catalog; `text/plain` for the other two.","security":[],"parameters":[{"name":"arquivo","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"`application/linkset+json` for the api-catalog; `text/plain` for the other two."},"404":{"description":"Name outside the four published."}}}},"/apis.json":{"get":{"operationId":"get_apis_json","summary":"APIs.json (apisjson.org, 0.19): the index APIs.io harvests — the API, the MCP, OpenAPI, guide and OKF bundle in one file. Also at `/.well-known/apis.json`.","description":"Returns: `application/json` in the APIs.json 0.19 format: `apis[]` with `baseURL`, `humanURL` and `properties[]`.","security":[],"responses":{"200":{"description":"`application/json` in the APIs.json 0.19 format: `apis[]` with `baseURL`, `humanURL` and `properties[]`."}}}},"/api/":{"get":{"operationId":"get_api","summary":"Discover the whole API: every endpoint, every auth mode and the MCP endpoint.","description":"Returns: { name, description, build, environment, base_url, docs, auth, endpoints, mcp, mcp_tools }","security":[],"responses":{"200":{"description":"{ name, description, build, environment, base_url, docs, auth, endpoints, mcp, mcp_tools }","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiIndex"}}}}}}},"/api/health":{"get":{"operationId":"commsharbor_health","summary":"Read liveness, environment and the commit currently deployed.","description":"Smoke tests wait for their own commit to appear here instead of racing edge propagation.\nReturns: { ok, app, build, environment, timestamp }","security":[],"responses":{"200":{"description":"{ ok, app, build, environment, timestamp }","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Health"}}}}}}},"/mcp":{"get":{"operationId":"get_mcp","summary":"Inspect the remote MCP server card: transport, protocol and tool count.","description":"`POST /mcp` speaks Streamable HTTP with JSON-RPC 2.0. The tools are the operations in this catalog; the MCP has no backend of its own.\nReturns: { transport, protocol_version, endpoint, server, tools, usage, api_index }","security":[],"responses":{"200":{"description":"{ transport, protocol_version, endpoint, server, tools, usage, api_index }","content":{"application/json":{"schema":{"type":"object","properties":{"transport":{"type":"string","description":"How the server speaks — `streamable-http`."},"protocol_version":{"type":"string","description":"MCP protocol version the server implements."},"endpoint":{"type":"string","description":"Absolute URL to POST JSON-RPC to."},"server":{"type":"object","description":"`name` and `version` of this server; the version is the deployed commit."},"tools":{"type":"integer","description":"How many tools the server exposes."},"usage":{"type":"string","description":"One line saying how to call it."},"api_index":{"type":"string","description":"The self-describing API index, for the operations behind the tools."}},"required":["transport","protocol_version","endpoint","server","tools","usage","api_index"]}}}}}}},"/api/auth/start":{"post":{"operationId":"commsharbor_auth_start","summary":"Send a one-time login code to an email address.","description":"Returns: { sent, expires_in }","security":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"email":{"type":"string","description":"Where to send the code."}},"required":["email"]},"example":{"email":"owner@example.com"}}}},"responses":{"200":{"description":"{ sent, expires_in }","content":{"application/json":{"schema":{"type":"object","properties":{"sent":{"type":"boolean","description":"Whether the message was accepted for delivery."},"expires_in":{"type":"integer","description":"Seconds until the code stops working."}},"required":["sent","expires_in"]}}}},"400":{"description":"Missing or malformed email."},"429":{"description":"Too many codes requested for this address."}}}},"/api/auth/verify":{"post":{"operationId":"commsharbor_auth_verify","summary":"Exchange a one-time code for a session.","description":"Returns: { user{id,email}, session_token }","security":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"email":{"type":"string","description":"The address the code was sent to."},"code":{"type":"string","description":"The six digits from the email."}},"required":["email","code"]},"example":{"email":"owner@example.com","code":"123456"}}}},"responses":{"200":{"description":"{ user{id,email}, session_token }","content":{"application/json":{"schema":{"type":"object","properties":{"user":{"allOf":[{"$ref":"#/components/schemas/User"}],"description":"The person who just signed in."},"session_token":{"type":"string","description":"Bearer token for `Authorization`. It implies no organization on its own."}},"required":["user","session_token"]}}}},"400":{"description":"Wrong or expired code."},"429":{"description":"Too many attempts."}}}},"/api/auth/logout":{"post":{"operationId":"commsharbor_logout","summary":"Revoke the session in use right now.","description":"Returns: { ok }","security":[{"bearerAuth":[]}],"responses":{"200":{"description":"{ ok }","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Ok"}}}},"401":{"description":"No session, or the session expired."}}}},"/api/me":{"get":{"operationId":"commsharbor_me","summary":"Read the profile, every membership and the platform role, if any.","description":"This is how a client discovers which organizations it may pass in `X-Organization-Id`.\nReturns: { user{id,email}, profile{display_name,locale}, organizations[{id,name,sending_domain,created_at}], platform_role }","security":[{"bearerAuth":[]}],"responses":{"200":{"description":"{ user{id,email}, profile{display_name,locale}, organizations[{id,name,sending_domain,created_at}], platform_role }","content":{"application/json":{"schema":{"type":"object","properties":{"user":{"allOf":[{"$ref":"#/components/schemas/User"}],"description":"The person behind the session."},"profile":{"allOf":[{"$ref":"#/components/schemas/Profile"}],"description":"Personal preferences — they belong to the person, not to a tenant."},"organizations":{"type":"array","items":{"$ref":"#/components/schemas/Organization"},"description":"Every organization this person belongs to."},"platform_role":{"type":"string","description":"Platform role, when one was explicitly granted. Owning a tenant grants nothing here.","nullable":true}},"required":["user","profile","organizations","platform_role"]}}}},"401":{"description":"No session, or the session expired."}}},"patch":{"operationId":"commsharbor_profile_update","summary":"Update the display name or language of the current profile.","description":"Returns: { display_name, locale }","security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"display_name":{"type":"string","description":"Name shown in the interface."},"locale":{"type":"string","description":"Preferred language, e.g. `en` or `pt-br`."}}},"example":{"display_name":"A. User","locale":"en"}}}},"responses":{"200":{"description":"{ display_name, locale }","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Profile"}}}},"400":{"description":"No updatable field in the body."},"401":{"description":"No session, or the session expired."}}}},"/api/organizations":{"get":{"operationId":"commsharbor_organizations","summary":"List the organizations the current person belongs to.","description":"Returns: { organizations[{id,name,sending_domain,created_at}] }","security":[{"bearerAuth":[]}],"responses":{"200":{"description":"{ organizations[{id,name,sending_domain,created_at}] }","content":{"application/json":{"schema":{"type":"object","properties":{"organizations":{"type":"array","items":{"$ref":"#/components/schemas/Organization"},"description":"Every organization with a membership for this person."}},"required":["organizations"]}}}},"401":{"description":"No session, or the session expired."}}},"post":{"operationId":"commsharbor_organization_create","summary":"Create one organization trial for a verified owner and a sending domain.","description":"One trial per owner. The domain is registered here but not verified — DNS state is only ever observed, in the domains resource.\nReturns: { id, name, sending_domain, created_at }","security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"Display name of the organization."},"sending_domain":{"type":"string","description":"Domain the organization will send from."}},"required":["name","sending_domain"]},"example":{"name":"Acme","sending_domain":"example.com"}}}},"responses":{"200":{"description":"{ id, name, sending_domain, created_at }","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Organization"}}}},"400":{"description":"Missing name or domain."},"401":{"description":"No session, or the session expired."},"409":{"description":"This owner already has a trial organization."}}}},"/api/context":{"get":{"operationId":"commsharbor_context","summary":"Resolve which organization and role the current credential is acting as.","description":"Read this before a write when you are not certain which tenant is active. Guessing is how data lands in the wrong organization.\nReturns: { kind, organizationId, userId?, email?, sessionId?, role?, organization?, apiKeyId?, scopes? }","security":[{"bearerAuth":[]}],"parameters":[{"name":"X-Organization-Id","in":"header","required":true,"schema":{"type":"string"},"description":"Which organization to act in. Required with a human session; an API key determines its own and rejects a conflicting value."}],"responses":{"200":{"description":"{ kind, organizationId, userId?, email?, sessionId?, role?, organization?, apiKeyId?, scopes? }","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Identity"}}}},"401":{"description":"No session, no API key, or the credential does not resolve to this organization."},"403":{"description":"The identity is valid but lacks the required role or scope for this operation."},"404":{"description":"The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere."}}}},"/api/organizations/{organization_id}":{"get":{"operationId":"commsharbor_organization_get","summary":"Read one organization.","description":"Returns: { id, name, sending_domain, created_at }","security":[{"bearerAuth":[]}],"parameters":[{"name":"organization_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"{ id, name, sending_domain, created_at }","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Organization"}}}},"401":{"description":"No session, no API key, or the credential does not resolve to this organization."},"403":{"description":"The identity is valid but lacks the required role or scope for this operation."},"404":{"description":"The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere."}}},"patch":{"operationId":"commsharbor_organization_update","summary":"Update an organization's name.","description":"Returns: { id, name, sending_domain, created_at }","security":[{"bearerAuth":[]}],"parameters":[{"name":"organization_id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"New display name."}},"required":["name"]},"example":{"name":"Acme Global"}}}},"responses":{"200":{"description":"{ id, name, sending_domain, created_at }","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Organization"}}}},"400":{"description":"Empty name."},"401":{"description":"No session, no API key, or the credential does not resolve to this organization."},"403":{"description":"The identity is valid but lacks the required role or scope for this operation."},"404":{"description":"The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere."}}}},"/api/organizations/{organization_id}/members":{"get":{"operationId":"commsharbor_members","summary":"List the members of an organization and their roles.","description":"Returns: { members[{organization_id,user_id,role,created_at}] }","security":[{"bearerAuth":[]}],"parameters":[{"name":"organization_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"{ members[{organization_id,user_id,role,created_at}] }","content":{"application/json":{"schema":{"type":"object","properties":{"members":{"type":"array","items":{"$ref":"#/components/schemas/Membership"},"description":"Every member and the role they hold."}},"required":["members"]}}}},"401":{"description":"No session, no API key, or the credential does not resolve to this organization."},"403":{"description":"The identity is valid but lacks the required role or scope for this operation."},"404":{"description":"The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere."}}}},"/api/organizations/{organization_id}/members/{user_id}":{"patch":{"operationId":"commsharbor_member_role","summary":"Change the role of a member who is not the owner.","description":"The owner's role cannot be changed through this route — an organization that can lose its last owner is an organization nobody can administer.\nReturns: { organization_id, user_id, role, created_at }","security":[{"bearerAuth":[]}],"parameters":[{"name":"organization_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"user_id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"role":{"type":"string","description":"Role to give the member from now on."}},"required":["role"]},"example":{"role":"marketer"}}}},"responses":{"200":{"description":"{ organization_id, user_id, role, created_at }","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Membership"}}}},"400":{"description":"Unknown role."},"401":{"description":"No session, no API key, or the credential does not resolve to this organization."},"403":{"description":"The identity is valid but lacks the required role or scope for this operation."},"404":{"description":"The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere."}}}},"/api/organizations/{organization_id}/invitations":{"get":{"operationId":"commsharbor_invitations","summary":"List invitations without their tokens.","description":"The token is shown once, when the invitation is created. Listing never shows it again.\nReturns: { invitations[{id,email,role,expires_at,invitation_token?,token_notice?}] }","security":[{"bearerAuth":[]}],"parameters":[{"name":"organization_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"{ invitations[{id,email,role,expires_at,invitation_token?,token_notice?}] }","content":{"application/json":{"schema":{"type":"object","properties":{"invitations":{"type":"array","items":{"$ref":"#/components/schemas/Invitation"},"description":"Invitations for this organization, without tokens."}},"required":["invitations"]}}}},"401":{"description":"No session, no API key, or the credential does not resolve to this organization."},"403":{"description":"The identity is valid but lacks the required role or scope for this operation."},"404":{"description":"The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere."}}},"post":{"operationId":"commsharbor_invitation_create","summary":"Create an invitation and reveal its token exactly once.","description":"Store the token now: this is the only response that carries it.\nReturns: { id, email, role, expires_at, invitation_token?, token_notice? }","security":[{"bearerAuth":[]}],"parameters":[{"name":"organization_id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"email":{"type":"string","description":"Who to invite."},"role":{"type":"string","description":"Role the invitation grants."}},"required":["email","role"]},"example":{"email":"member@example.com","role":"viewer"}}}},"responses":{"200":{"description":"{ id, email, role, expires_at, invitation_token?, token_notice? }","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Invitation"}}}},"400":{"description":"Missing email or unknown role."},"401":{"description":"No session, no API key, or the credential does not resolve to this organization."},"403":{"description":"The identity is valid but lacks the required role or scope for this operation."},"404":{"description":"The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere."}}}},"/api/invitations/accept":{"post":{"operationId":"commsharbor_invitation_accept","summary":"Accept an invitation and join the organization it points at.","description":"Accepting joins an EXISTING organization trial. It never creates one, so an invitation cannot be used to mint tenants.\nReturns: { organization_id, user_id, role, created_at }","security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"token":{"type":"string","description":"The invitation token, from the response that created it."}},"required":["token"]},"example":{"token":"invite_…"}}}},"responses":{"200":{"description":"{ organization_id, user_id, role, created_at }","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Membership"}}}},"400":{"description":"Missing token."},"401":{"description":"No session, or the session expired."},"404":{"description":"Unknown, expired or already used invitation."}}}},"/api/organizations/{organization_id}/api-keys":{"get":{"operationId":"commsharbor_api_keys","summary":"List API keys without token hashes or secrets.","description":"Returns: { api_keys[{id,name,scopes,prefix,last_used_at,revoked_at,created_at,token?}] }","security":[{"bearerAuth":[]}],"parameters":[{"name":"organization_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"{ api_keys[{id,name,scopes,prefix,last_used_at,revoked_at,created_at,token?}] }","content":{"application/json":{"schema":{"type":"object","properties":{"api_keys":{"type":"array","items":{"$ref":"#/components/schemas/ApiKey"},"description":"Keys of this organization, without the tokens."}},"required":["api_keys"]}}}},"401":{"description":"No session, no API key, or the credential does not resolve to this organization."},"403":{"description":"The identity is valid but lacks the required role or scope for this operation."},"404":{"description":"The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere."}}},"post":{"operationId":"commsharbor_api_key_create","summary":"Create a scoped API key and reveal it exactly once.","description":"The key determines its own organization. It cannot manage credentials or membership — those stay with human admins.\nReturns: { id, name, scopes, prefix, last_used_at, revoked_at, created_at, token? }","security":[{"bearerAuth":[]}],"parameters":[{"name":"organization_id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"Label so the key can be recognised later."},"scopes":{"type":"array","items":{"type":"string"},"description":"What the key may do, e.g. `organization:read`, `crm:write`, `messages:send`."}},"required":["name","scopes"]},"example":{"name":"Automation","scopes":["organization:read","crm:read","crm:write"]}}}},"responses":{"200":{"description":"{ id, name, scopes, prefix, last_used_at, revoked_at, created_at, token? }","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiKey"}}}},"400":{"description":"Missing name or unknown scope."},"401":{"description":"No session, no API key, or the credential does not resolve to this organization."},"403":{"description":"The identity is valid but lacks the required role or scope for this operation."},"404":{"description":"The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere."}}}},"/api/organizations/{organization_id}/api-keys/{api_key_id}":{"delete":{"operationId":"commsharbor_api_key_revoke","summary":"Revoke an API key. It stops working immediately, not at the next cache expiry.","description":"Returns: { id, name, scopes, prefix, last_used_at, revoked_at, created_at, token? }","security":[{"bearerAuth":[]}],"parameters":[{"name":"organization_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"api_key_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"{ id, name, scopes, prefix, last_used_at, revoked_at, created_at, token? }","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiKey"}}}},"401":{"description":"No session, no API key, or the credential does not resolve to this organization."},"403":{"description":"The identity is valid but lacks the required role or scope for this operation."},"404":{"description":"The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere."}}}},"/api/organizations/{organization_id}/audit":{"get":{"operationId":"commsharbor_audit","summary":"List the append-only audit trail of the organization.","description":"Audit records are never rewritten and never carry recipient PII.\nReturns: { items[{id,action,actor_user_id,target,metadata,created_at}], nextCursor }","security":[{"bearerAuth":[]}],"parameters":[{"name":"organization_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"cursor","in":"query","required":false,"schema":{"type":"string"},"description":"Opaque cursor from the previous page. Do not build or parse it."},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","default":50},"description":"Page size, from 1 to 100."}],"responses":{"200":{"description":"{ items[{id,action,actor_user_id,target,metadata,created_at}], nextCursor }","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageCamelAuditEvent"}}}},"401":{"description":"No session, no API key, or the credential does not resolve to this organization."},"403":{"description":"The identity is valid but lacks the required role or scope for this operation."},"404":{"description":"The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere."}}}},"/api/platform/context":{"get":{"operationId":"commsharbor_platform_context","summary":"Confirm an explicitly granted platform administrator.","description":"Tenant ownership grants nothing here: platform access is a separate, explicit grant.\nReturns: { role, user_id }","security":[{"bearerAuth":[]}],"responses":{"200":{"description":"{ role, user_id }","content":{"application/json":{"schema":{"type":"object","properties":{"role":{"type":"string","description":"The platform role that was granted."},"user_id":{"type":"string","description":"Who holds it."}},"required":["role","user_id"]}}}},"401":{"description":"No session."},"403":{"description":"This person has no platform grant."}}}},"/api/organizations/{organization_id}/domains":{"get":{"operationId":"commsharbor_domains","summary":"List the sending domains of the organization and their last observed state.","description":"`status` is what was last OBSERVED at SES and DNS. It does not become `active` because provisioning was requested.\nReturns: { items[{id,domain,status,dkim_tokens,dmarc,mail_from,last_observed_at,created_at}] }","security":[{"bearerAuth":[]}],"parameters":[{"name":"organization_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"{ items[{id,domain,status,dkim_tokens,dmarc,mail_from,last_observed_at,created_at}] }","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListaDomain"}}}},"401":{"description":"No session, no API key, or the credential does not resolve to this organization."},"403":{"description":"The identity is valid but lacks the required role or scope for this operation."},"404":{"description":"The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere."}}},"post":{"operationId":"commsharbor_domain_create","summary":"Register the organization's sending domain and queue idempotent SES provisioning.","description":"Asking twice does not provision twice. Publish the returned DKIM records, then call `verify` to have the state observed.\nReturns: { domain{id,domain,status,dkim_tokens,dmarc,mail_from,last_observed_at,created_at}, provisioning{queued,job_id} }","security":[{"bearerAuth":[]}],"parameters":[{"name":"organization_id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"domain":{"type":"string","description":"The domain to send from, e.g. `example.com`."}},"required":["domain"]},"example":{"domain":"example.com"}}}},"responses":{"200":{"description":"{ domain{id,domain,status,dkim_tokens,dmarc,mail_from,last_observed_at,created_at}, provisioning{queued,job_id} }","content":{"application/json":{"schema":{"type":"object","properties":{"domain":{"allOf":[{"$ref":"#/components/schemas/Domain"}],"description":"The registered domain, with the DKIM records to publish."},"provisioning":{"allOf":[{"$ref":"#/components/schemas/Provisioning"}],"description":"Whether this call enqueued provisioning work."}},"required":["domain","provisioning"]}}}},"400":{"description":"Missing or malformed domain."},"401":{"description":"No session, no API key, or the credential does not resolve to this organization."},"403":{"description":"The identity is valid but lacks the required role or scope for this operation."},"404":{"description":"The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere."}}}},"/api/organizations/{organization_id}/domains/{domain_id}":{"get":{"operationId":"commsharbor_domain_get","summary":"Read one sending domain, without inferring current DNS state.","description":"This returns what was stored at the last observation. To look again, call `verify`.\nReturns: { id, domain, status, dkim_tokens, dmarc, mail_from, last_observed_at, created_at }","security":[{"bearerAuth":[]}],"parameters":[{"name":"organization_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"domain_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"{ id, domain, status, dkim_tokens, dmarc, mail_from, last_observed_at, created_at }","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Domain"}}}},"401":{"description":"No session, no API key, or the credential does not resolve to this organization."},"403":{"description":"The identity is valid but lacks the required role or scope for this operation."},"404":{"description":"The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere."}}}},"/api/organizations/{organization_id}/domains/{domain_id}/verify":{"post":{"operationId":"commsharbor_domain_verify","summary":"Observe SES, DKIM, DMARC and custom MAIL FROM state right now, and store what was seen.","description":"This is the ONLY operation that can move a domain to `active`, and only because it actually looked.\nReturns: { id, domain, status, dkim_tokens, dmarc, mail_from, last_observed_at, created_at }","security":[{"bearerAuth":[]}],"parameters":[{"name":"organization_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"domain_id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"example":{}}}},"responses":{"200":{"description":"{ id, domain, status, dkim_tokens, dmarc, mail_from, last_observed_at, created_at }","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Domain"}}}},"401":{"description":"No session, no API key, or the credential does not resolve to this organization."},"403":{"description":"The identity is valid but lacks the required role or scope for this operation."},"404":{"description":"The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere."}}}},"/api/organizations/{organization_id}/domains/{domain_id}/smoke":{"post":{"operationId":"commsharbor_domain_smoke","summary":"Queue one controlled smoke message to the server-side QA recipient.","description":"The request never accepts a recipient: the destination is a server-side secret. That is what keeps this from becoming a way to send mail to arbitrary addresses through someone else's verified domain.\nReturns: { delivery{id,status,domain_id,template_id,template_version,ses_message_id,created_at}, capacity{remaining,global_remaining,hard_cap}, dispatch{queued,job_id} }","security":[{"bearerAuth":[]}],"parameters":[{"name":"organization_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"domain_id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"example":{}}}},"responses":{"200":{"description":"{ delivery{id,status,domain_id,template_id,template_version,ses_message_id,created_at}, capacity{remaining,global_remaining,hard_cap}, dispatch{queued,job_id} }","content":{"application/json":{"schema":{"type":"object","properties":{"delivery":{"allOf":[{"$ref":"#/components/schemas/Delivery"}],"description":"The delivery record for the smoke."},"capacity":{"allOf":[{"$ref":"#/components/schemas/Capacity"}],"description":"What is left to send after it."},"dispatch":{"allOf":[{"$ref":"#/components/schemas/Dispatch"}],"description":"The queue work behind it."}},"required":["delivery","capacity","dispatch"]}}}},"401":{"description":"No session, no API key, or the credential does not resolve to this organization."},"403":{"description":"The identity is valid but lacks the required role or scope for this operation."},"404":{"description":"The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere."},"409":{"description":"The domain is not active yet — verify it first."},"429":{"description":"No capacity left."}}}},"/api/organizations/{organization_id}/domains/{domain_id}/deliveries":{"get":{"operationId":"commsharbor_domain_deliveries","summary":"List deliveries sent from one domain, without recipient addresses.","description":"Returns: { items[{id,status,domain_id,template_id,template_version,ses_message_id,created_at}] }","security":[{"bearerAuth":[]}],"parameters":[{"name":"organization_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"domain_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"{ items[{id,status,domain_id,template_id,template_version,ses_message_id,created_at}] }","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListaDelivery"}}}},"401":{"description":"No session, no API key, or the credential does not resolve to this organization."},"403":{"description":"The identity is valid but lacks the required role or scope for this operation."},"404":{"description":"The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere."}}}},"/api/organizations/{organization_id}/deliveries/{delivery_id}":{"get":{"operationId":"commsharbor_delivery_get","summary":"Read one delivery and its SES MessageId, without recipient data.","description":"`ses_message_id` is what correlates this record with AWS when you need to chase a message there.\nReturns: { id, status, domain_id, template_id, template_version, ses_message_id, created_at }","security":[{"bearerAuth":[]}],"parameters":[{"name":"organization_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"delivery_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"{ id, status, domain_id, template_id, template_version, ses_message_id, created_at }","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Delivery"}}}},"401":{"description":"No session, no API key, or the credential does not resolve to this organization."},"403":{"description":"The identity is valid but lacks the required role or scope for this operation."},"404":{"description":"The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere."}}}},"/api/organizations/{organization_id}/deliveries/{delivery_id}/events":{"get":{"operationId":"commsharbor_delivery_events","summary":"List the normalized SES feedback events for one delivery.","description":"Open and Click are ADDITIVE: they are recorded alongside delivery state and never overwrite it.\nReturns: { items[{id,event_type,occurred_at,detail}] }","security":[{"bearerAuth":[]}],"parameters":[{"name":"organization_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"delivery_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"{ items[{id,event_type,occurred_at,detail}] }","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListaDeliveryEvent"}}}},"401":{"description":"No session, no API key, or the credential does not resolve to this organization."},"403":{"description":"The identity is valid but lacks the required role or scope for this operation."},"404":{"description":"The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere."}}}},"/api/aws/sns":{"post":{"operationId":"post_api_aws_sns","summary":"Receive a signed Amazon SNS callback for the configured SES topic.","description":"This callback never accepts a user credential. It requires a valid SNS signature, a certificate URL in the expected AWS region, and the exact configured TopicArn — anything else is rejected before the body is read.\nReturns: `204 No Content` when the notification was accepted.","security":[{"bearerAuth":[]}],"responses":{"200":{"description":"`204 No Content` when the notification was accepted."},"400":{"description":"Malformed notification, or a certificate URL outside the expected region."},"403":{"description":"Bad signature, or a TopicArn other than the configured one."}}}},"/api/organizations/{organization_id}/crm/contacts":{"get":{"operationId":"commsharbor_crm_contacts_list","summary":"List contacts in the tenant CRM — a person in the tenant CRM.","description":"Being in the CRM is not permission to email: consent lives in the `marketing` sub-resource.\nReturns: { items[{id,email,first_name,last_name,company_id,created_at,updated_at,url}], next_cursor }","security":[{"bearerAuth":[]}],"parameters":[{"name":"organization_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"cursor","in":"query","required":false,"schema":{"type":"string"},"description":"Opaque cursor from the previous page. Do not build or parse it."},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","default":50},"description":"Page size, from 1 to 100."},{"name":"q","in":"query","required":false,"schema":{"type":"string"},"description":"Free-text search over the record's main fields."},{"name":"company_id","in":"query","required":false,"schema":{"type":"string"},"description":"Restrict to one CRM company."}],"responses":{"200":{"description":"{ items[{id,email,first_name,last_name,company_id,created_at,updated_at,url}], next_cursor }","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageContact"}}}},"401":{"description":"No session, no API key, or the credential does not resolve to this organization."},"403":{"description":"The identity is valid but lacks the required role or scope for this operation."},"404":{"description":"The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere."}}},"post":{"operationId":"commsharbor_crm_contacts_create","summary":"Create a contact in the tenant CRM.","description":"Being in the CRM is not permission to email: consent lives in the `marketing` sub-resource.\nReturns: { id, email, first_name, last_name, company_id, created_at, updated_at, url }","security":[{"bearerAuth":[]}],"parameters":[{"name":"organization_id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"email":{"type":"string","description":"Email address. Normalized and never truncated."},"first_name":{"type":"string","description":"Given name of the contact."},"last_name":{"type":"string","description":"Family name."},"company_id":{"type":"string","description":"Company this contact belongs to."}},"required":["email","first_name"]},"example":{"email":"buyer@example.com","first_name":"Buyer","company_id":"co_…"}}}},"responses":{"200":{"description":"{ id, email, first_name, last_name, company_id, created_at, updated_at, url }","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Contact"}}}},"400":{"description":"A required field is missing, or a referenced record does not exist here."},"401":{"description":"No session, no API key, or the credential does not resolve to this organization."},"403":{"description":"The identity is valid but lacks the required role or scope for this operation."},"404":{"description":"The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere."}}}},"/api/organizations/{organization_id}/crm/contacts/{contact_id}":{"get":{"operationId":"commsharbor_crm_contacts_get","summary":"Read one contact from the tenant CRM.","description":"Being in the CRM is not permission to email: consent lives in the `marketing` sub-resource.\nReturns: { id, email, first_name, last_name, company_id, created_at, updated_at, url }","security":[{"bearerAuth":[]}],"parameters":[{"name":"organization_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"contact_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"{ id, email, first_name, last_name, company_id, created_at, updated_at, url }","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Contact"}}}},"401":{"description":"No session, no API key, or the credential does not resolve to this organization."},"403":{"description":"The identity is valid but lacks the required role or scope for this operation."},"404":{"description":"The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere."}}},"patch":{"operationId":"commsharbor_crm_contacts_update","summary":"Update one contact in the tenant CRM. Only the fields you send change.","description":"Being in the CRM is not permission to email: consent lives in the `marketing` sub-resource.\nReturns: { id, email, first_name, last_name, company_id, created_at, updated_at, url }","security":[{"bearerAuth":[]}],"parameters":[{"name":"organization_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"contact_id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"email":{"type":"string","description":"Email address. Normalized and never truncated."},"first_name":{"type":"string","description":"Given name of the contact."},"last_name":{"type":"string","description":"Family name."},"company_id":{"type":"string","description":"Company this contact belongs to."}},"required":["email","first_name"]},"example":{"email":"buyer@example.com","first_name":"Buyer","company_id":"co_…"}}}},"responses":{"200":{"description":"{ id, email, first_name, last_name, company_id, created_at, updated_at, url }","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Contact"}}}},"400":{"description":"A field is invalid, or a referenced record does not exist here."},"401":{"description":"No session, no API key, or the credential does not resolve to this organization."},"403":{"description":"The identity is valid but lacks the required role or scope for this operation."},"404":{"description":"The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere."}}},"delete":{"operationId":"commsharbor_crm_contacts_delete","summary":"Delete one contact from the tenant CRM. The response carries the record as it was.","description":"Being in the CRM is not permission to email: consent lives in the `marketing` sub-resource.\nReturns: { id, email, first_name, last_name, company_id, created_at, updated_at, url }","security":[{"bearerAuth":[]}],"parameters":[{"name":"organization_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"contact_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"{ id, email, first_name, last_name, company_id, created_at, updated_at, url }","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Contact"}}}},"401":{"description":"No session, no API key, or the credential does not resolve to this organization."},"403":{"description":"The identity is valid but lacks the required role or scope for this operation."},"404":{"description":"The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere."}}}},"/api/organizations/{organization_id}/crm/companies":{"get":{"operationId":"commsharbor_crm_companies_list","summary":"List companies in the tenant CRM — an organization in the tenant CRM — a customer of the customer.","description":"Returns: { items[{id,name,domain,website,created_at,updated_at,url}], next_cursor }","security":[{"bearerAuth":[]}],"parameters":[{"name":"organization_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"cursor","in":"query","required":false,"schema":{"type":"string"},"description":"Opaque cursor from the previous page. Do not build or parse it."},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","default":50},"description":"Page size, from 1 to 100."},{"name":"q","in":"query","required":false,"schema":{"type":"string"},"description":"Free-text search over the record's main fields."}],"responses":{"200":{"description":"{ items[{id,name,domain,website,created_at,updated_at,url}], next_cursor }","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageCompany"}}}},"401":{"description":"No session, no API key, or the credential does not resolve to this organization."},"403":{"description":"The identity is valid but lacks the required role or scope for this operation."},"404":{"description":"The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere."}}},"post":{"operationId":"commsharbor_crm_companies_create","summary":"Create a company in the tenant CRM.","description":"Returns: { id, name, domain, website, created_at, updated_at, url }","security":[{"bearerAuth":[]}],"parameters":[{"name":"organization_id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"Company name."},"domain":{"type":"string","description":"Primary domain, used to group contacts."},"website":{"type":"string","description":"Website URL."}},"required":["name"]},"example":{"name":"Acme","domain":"example.com","website":"https://example.com"}}}},"responses":{"200":{"description":"{ id, name, domain, website, created_at, updated_at, url }","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Company"}}}},"400":{"description":"A required field is missing, or a referenced record does not exist here."},"401":{"description":"No session, no API key, or the credential does not resolve to this organization."},"403":{"description":"The identity is valid but lacks the required role or scope for this operation."},"404":{"description":"The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere."}}}},"/api/organizations/{organization_id}/crm/companies/{company_id}":{"get":{"operationId":"commsharbor_crm_companies_get","summary":"Read one company from the tenant CRM.","description":"Returns: { id, name, domain, website, created_at, updated_at, url }","security":[{"bearerAuth":[]}],"parameters":[{"name":"organization_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"company_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"{ id, name, domain, website, created_at, updated_at, url }","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Company"}}}},"401":{"description":"No session, no API key, or the credential does not resolve to this organization."},"403":{"description":"The identity is valid but lacks the required role or scope for this operation."},"404":{"description":"The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere."}}},"patch":{"operationId":"commsharbor_crm_companies_update","summary":"Update one company in the tenant CRM. Only the fields you send change.","description":"Returns: { id, name, domain, website, created_at, updated_at, url }","security":[{"bearerAuth":[]}],"parameters":[{"name":"organization_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"company_id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"Company name."},"domain":{"type":"string","description":"Primary domain, used to group contacts."},"website":{"type":"string","description":"Website URL."}},"required":["name"]},"example":{"name":"Acme","domain":"example.com","website":"https://example.com"}}}},"responses":{"200":{"description":"{ id, name, domain, website, created_at, updated_at, url }","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Company"}}}},"400":{"description":"A field is invalid, or a referenced record does not exist here."},"401":{"description":"No session, no API key, or the credential does not resolve to this organization."},"403":{"description":"The identity is valid but lacks the required role or scope for this operation."},"404":{"description":"The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere."}}},"delete":{"operationId":"commsharbor_crm_companies_delete","summary":"Delete one company from the tenant CRM. The response carries the record as it was.","description":"Returns: { id, name, domain, website, created_at, updated_at, url }","security":[{"bearerAuth":[]}],"parameters":[{"name":"organization_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"company_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"{ id, name, domain, website, created_at, updated_at, url }","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Company"}}}},"401":{"description":"No session, no API key, or the credential does not resolve to this organization."},"403":{"description":"The identity is valid but lacks the required role or scope for this operation."},"404":{"description":"The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere."}}}},"/api/organizations/{organization_id}/crm/pipelines":{"get":{"operationId":"commsharbor_crm_pipelines_list","summary":"List pipelines in the tenant CRM — a named sequence of stages that deals move through.","description":"Returns: { items[{id,name,created_at,url}], next_cursor }","security":[{"bearerAuth":[]}],"parameters":[{"name":"organization_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"cursor","in":"query","required":false,"schema":{"type":"string"},"description":"Opaque cursor from the previous page. Do not build or parse it."},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","default":50},"description":"Page size, from 1 to 100."},{"name":"q","in":"query","required":false,"schema":{"type":"string"},"description":"Free-text search over the record's main fields."}],"responses":{"200":{"description":"{ items[{id,name,created_at,url}], next_cursor }","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PagePipeline"}}}},"401":{"description":"No session, no API key, or the credential does not resolve to this organization."},"403":{"description":"The identity is valid but lacks the required role or scope for this operation."},"404":{"description":"The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere."}}},"post":{"operationId":"commsharbor_crm_pipelines_create","summary":"Create a pipeline in the tenant CRM.","description":"Returns: { id, name, created_at, url }","security":[{"bearerAuth":[]}],"parameters":[{"name":"organization_id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"Pipeline name."},"stages":{"type":"array","items":{"type":"string"},"description":"Stage names to create with the pipeline, in order."}},"required":["name"]},"example":{"name":"Sales","stages":["New","Proposal","Won"]}}}},"responses":{"200":{"description":"{ id, name, created_at, url }","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Pipeline"}}}},"400":{"description":"A required field is missing, or a referenced record does not exist here."},"401":{"description":"No session, no API key, or the credential does not resolve to this organization."},"403":{"description":"The identity is valid but lacks the required role or scope for this operation."},"404":{"description":"The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere."}}}},"/api/organizations/{organization_id}/crm/pipelines/{pipeline_id}":{"get":{"operationId":"commsharbor_crm_pipelines_get","summary":"Read one pipeline from the tenant CRM.","description":"Returns: { id, name, created_at, url }","security":[{"bearerAuth":[]}],"parameters":[{"name":"organization_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"pipeline_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"{ id, name, created_at, url }","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Pipeline"}}}},"401":{"description":"No session, no API key, or the credential does not resolve to this organization."},"403":{"description":"The identity is valid but lacks the required role or scope for this operation."},"404":{"description":"The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere."}}},"patch":{"operationId":"commsharbor_crm_pipelines_update","summary":"Update one pipeline in the tenant CRM. Only the fields you send change.","description":"Returns: { id, name, created_at, url }","security":[{"bearerAuth":[]}],"parameters":[{"name":"organization_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"pipeline_id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"con
[...]
