openapi: 3.2.0
info:
  title: CommsHarbor Organizations API
  version: 2d690e87
  description: CommsHarbor API. Organization identity is explicit and tenant-scoped.
servers:
- url: https://commsharbor.com
tags:
- name: Organizations
paths:
  /api/organizations:
    get:
      operationId: commsharbor_organizations
      summary: List the organizations the current person belongs to
      description: 'Returns: { organizations[{id,name,sending_domain,created_at}] }'
      security:
      - bearerAuth: []
      responses:
        '200':
          description: '{ organizations[{id,name,sending_domain,created_at}] }'
          content:
            application/json:
              schema:
                type: object
                properties:
                  organizations:
                    type: array
                    items:
                      $ref: '#/components/schemas/Organization'
                    description: Every organization with a membership for this person.
                required:
                - organizations
        '401':
          description: No session, or the session expired.
      tags:
      - Organizations
    post:
      operationId: commsharbor_organization_create
      summary: Create one organization trial for a verified owner and a sending domain
      description: 'One trial per owner. The domain is registered here but not verified — DNS state is only ever observed, in the domains resource.

        Returns: { id, name, sending_domain, created_at }'
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Display name of the organization.
                sending_domain:
                  type: string
                  description: Domain the organization will send from.
              required:
              - name
              - sending_domain
            example:
              name: Acme
              sending_domain: example.com
      responses:
        '200':
          description: '{ id, name, sending_domain, created_at }'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        '400':
          description: Missing name or domain.
        '401':
          description: No session, or the session expired.
        '409':
          description: This owner already has a trial organization.
      tags:
      - Organizations
  /api/organizations/{organization_id}:
    get:
      operationId: commsharbor_organization_get
      summary: Read one organization
      description: 'Returns: { id, name, sending_domain, created_at }'
      security:
      - bearerAuth: []
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '{ id, name, sending_domain, created_at }'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        '401':
          description: No session, no API key, or the credential does not resolve to this organization.
        '403':
          description: The identity is valid but lacks the required role or scope for this operation.
        '404':
          description: The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere.
      tags:
      - Organizations
    patch:
      operationId: commsharbor_organization_update
      summary: Update an organization's name
      description: 'Returns: { id, name, sending_domain, created_at }'
      security:
      - bearerAuth: []
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: New display name.
              required:
              - name
            example:
              name: Acme Global
      responses:
        '200':
          description: '{ id, name, sending_domain, created_at }'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        '400':
          description: Empty name.
        '401':
          description: No session, no API key, or the credential does not resolve to this organization.
        '403':
          description: The identity is valid but lacks the required role or scope for this operation.
        '404':
          description: The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere.
      tags:
      - Organizations
  /api/organizations/{organization_id}/members:
    get:
      operationId: commsharbor_members
      summary: List the members of an organization and their roles
      description: 'Returns: { members[{organization_id,user_id,role,created_at}] }'
      security:
      - bearerAuth: []
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '{ members[{organization_id,user_id,role,created_at}] }'
          content:
            application/json:
              schema:
                type: object
                properties:
                  members:
                    type: array
                    items:
                      $ref: '#/components/schemas/Membership'
                    description: Every member and the role they hold.
                required:
                - members
        '401':
          description: No session, no API key, or the credential does not resolve to this organization.
        '403':
          description: The identity is valid but lacks the required role or scope for this operation.
        '404':
          description: The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere.
      tags:
      - Organizations
  /api/organizations/{organization_id}/members/{user_id}:
    patch:
      operationId: commsharbor_member_role
      summary: Change the role of a member who is not the owner
      description: 'The owner''s role cannot be changed through this route — an organization that can lose its last owner is an organization nobody can administer.

        Returns: { organization_id, user_id, role, created_at }'
      security:
      - bearerAuth: []
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      - name: user_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                role:
                  type: string
                  description: Role to give the member from now on.
              required:
              - role
            example:
              role: marketer
      responses:
        '200':
          description: '{ organization_id, user_id, role, created_at }'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Membership'
        '400':
          description: Unknown role.
        '401':
          description: No session, no API key, or the credential does not resolve to this organization.
        '403':
          description: The identity is valid but lacks the required role or scope for this operation.
        '404':
          description: The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere.
      tags:
      - Organizations
  /api/organizations/{organization_id}/invitations:
    get:
      operationId: commsharbor_invitations
      summary: List invitations without their tokens
      description: 'The token is shown once, when the invitation is created. Listing never shows it again.

        Returns: { invitations[{id,email,role,expires_at,invitation_token?,token_notice?}] }'
      security:
      - bearerAuth: []
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '{ invitations[{id,email,role,expires_at,invitation_token?,token_notice?}] }'
          content:
            application/json:
              schema:
                type: object
                properties:
                  invitations:
                    type: array
                    items:
                      $ref: '#/components/schemas/Invitation'
                    description: Invitations for this organization, without tokens.
                required:
                - invitations
        '401':
          description: No session, no API key, or the credential does not resolve to this organization.
        '403':
          description: The identity is valid but lacks the required role or scope for this operation.
        '404':
          description: The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere.
      tags:
      - Organizations
    post:
      operationId: commsharbor_invitation_create
      summary: Create an invitation and reveal its token exactly once
      description: 'Store the token now: this is the only response that carries it.

        Returns: { id, email, role, expires_at, invitation_token?, token_notice? }'
      security:
      - bearerAuth: []
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: Who to invite.
                role:
                  type: string
                  description: Role the invitation grants.
              required:
              - email
              - role
            example:
              email: member@example.com
              role: viewer
      responses:
        '200':
          description: '{ id, email, role, expires_at, invitation_token?, token_notice? }'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invitation'
        '400':
          description: Missing email or unknown role.
        '401':
          description: No session, no API key, or the credential does not resolve to this organization.
        '403':
          description: The identity is valid but lacks the required role or scope for this operation.
        '404':
          description: The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere.
      tags:
      - Organizations
  /api/organizations/{organization_id}/api-keys:
    get:
      operationId: commsharbor_api_keys
      summary: List API keys without token hashes or secrets
      description: 'Returns: { api_keys[{id,name,scopes,prefix,last_used_at,revoked_at,created_at,token?}] }'
      security:
      - bearerAuth: []
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '{ api_keys[{id,name,scopes,prefix,last_used_at,revoked_at,created_at,token?}] }'
          content:
            application/json:
              schema:
                type: object
                properties:
                  api_keys:
                    type: array
                    items:
                      $ref: '#/components/schemas/ApiKey'
                    description: Keys of this organization, without the tokens.
                required:
                - api_keys
        '401':
          description: No session, no API key, or the credential does not resolve to this organization.
        '403':
          description: The identity is valid but lacks the required role or scope for this operation.
        '404':
          description: The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere.
      tags:
      - Organizations
    post:
      operationId: commsharbor_api_key_create
      summary: Create a scoped API key and reveal it exactly once
      description: 'The key determines its own organization. It cannot manage credentials or membership — those stay with human admins.

        Returns: { id, name, scopes, prefix, last_used_at, revoked_at, created_at, token? }'
      security:
      - bearerAuth: []
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Label so the key can be recognised later.
                scopes:
                  type: array
                  items:
                    type: string
                  description: What the key may do, e.g. `organization:read`, `crm:write`, `messages:send`.
              required:
              - name
              - scopes
            example:
              name: Automation
              scopes:
              - organization:read
              - crm:read
              - crm:write
      responses:
        '200':
          description: '{ id, name, scopes, prefix, last_used_at, revoked_at, created_at, token? }'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
        '400':
          description: Missing name or unknown scope.
        '401':
          description: No session, no API key, or the credential does not resolve to this organization.
        '403':
          description: The identity is valid but lacks the required role or scope for this operation.
        '404':
          description: The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere.
      tags:
      - Organizations
  /api/organizations/{organization_id}/api-keys/{api_key_id}:
    delete:
      operationId: commsharbor_api_key_revoke
      summary: Revoke an API key. It stops working immediately, not at the next cache expiry
      description: 'Returns: { id, name, scopes, prefix, last_used_at, revoked_at, created_at, token? }'
      security:
      - bearerAuth: []
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      - name: api_key_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '{ id, name, scopes, prefix, last_used_at, revoked_at, created_at, token? }'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
        '401':
          description: No session, no API key, or the credential does not resolve to this organization.
        '403':
          description: The identity is valid but lacks the required role or scope for this operation.
        '404':
          description: The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere.
      tags:
      - Organizations
  /api/organizations/{organization_id}/audit:
    get:
      operationId: commsharbor_audit
      summary: List the append-only audit trail of the organization
      description: 'Audit records are never rewritten and never carry recipient PII.

        Returns: { items[{id,action,actor_user_id,target,metadata,created_at}], nextCursor }'
      security:
      - bearerAuth: []
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      - name: cursor
        in: query
        required: false
        schema:
          type: string
        description: Opaque cursor from the previous page. Do not build or parse it.
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 50
        description: Page size, from 1 to 100.
      responses:
        '200':
          description: '{ items[{id,action,actor_user_id,target,metadata,created_at}], nextCursor }'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageCamelAuditEvent'
        '401':
          description: No session, no API key, or the credential does not resolve to this organization.
        '403':
          description: The identity is valid but lacks the required role or scope for this operation.
        '404':
          description: The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere.
      tags:
      - Organizations
  /api/organizations/{organization_id}/domains:
    get:
      operationId: commsharbor_domains
      summary: List the sending domains of the organization and their last observed state
      description: '`status` is what was last OBSERVED at SES and DNS. It does not become `active` because provisioning was requested.

        Returns: { items[{id,domain,status,dkim_tokens,dmarc,mail_from,last_observed_at,created_at}] }'
      security:
      - bearerAuth: []
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '{ items[{id,domain,status,dkim_tokens,dmarc,mail_from,last_observed_at,created_at}] }'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListaDomain'
        '401':
          description: No session, no API key, or the credential does not resolve to this organization.
        '403':
          description: The identity is valid but lacks the required role or scope for this operation.
        '404':
          description: The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere.
      tags:
      - Organizations
    post:
      operationId: commsharbor_domain_create
      summary: Register the organization's sending domain and queue idempotent SES provisioning
      description: 'Asking twice does not provision twice. Publish the returned DKIM records, then call `verify` to have the state observed.

        Returns: { domain{id,domain,status,dkim_tokens,dmarc,mail_from,last_observed_at,created_at}, provisioning{queued,job_id} }'
      security:
      - bearerAuth: []
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                domain:
                  type: string
                  description: The domain to send from, e.g. `example.com`.
              required:
              - domain
            example:
              domain: example.com
      responses:
        '200':
          description: '{ domain{id,domain,status,dkim_tokens,dmarc,mail_from,last_observed_at,created_at}, provisioning{queued,job_id} }'
          content:
            application/json:
              schema:
                type: object
                properties:
                  domain:
                    allOf:
                    - $ref: '#/components/schemas/Domain'
                    description: The registered domain, with the DKIM records to publish.
                  provisioning:
                    allOf:
                    - $ref: '#/components/schemas/Provisioning'
                    description: Whether this call enqueued provisioning work.
                required:
                - domain
                - provisioning
        '400':
          description: Missing or malformed domain.
        '401':
          description: No session, no API key, or the credential does not resolve to this organization.
        '403':
          description: The identity is valid but lacks the required role or scope for this operation.
        '404':
          description: The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere.
      tags:
      - Organizations
  /api/organizations/{organization_id}/domains/{domain_id}:
    get:
      operationId: commsharbor_domain_get
      summary: Read one sending domain, without inferring current DNS state
      description: 'This returns what was stored at the last observation. To look again, call `verify`.

        Returns: { id, domain, status, dkim_tokens, dmarc, mail_from, last_observed_at, created_at }'
      security:
      - bearerAuth: []
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      - name: domain_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '{ id, domain, status, dkim_tokens, dmarc, mail_from, last_observed_at, created_at }'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
        '401':
          description: No session, no API key, or the credential does not resolve to this organization.
        '403':
          description: The identity is valid but lacks the required role or scope for this operation.
        '404':
          description: The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere.
      tags:
      - Organizations
  /api/organizations/{organization_id}/domains/{domain_id}/verify:
    post:
      operationId: commsharbor_domain_verify
      summary: Observe SES, DKIM, DMARC and custom MAIL FROM state right now, and store what…
      description: 'This is the ONLY operation that can move a domain to `active`, and only because it actually looked.

        Returns: { id, domain, status, dkim_tokens, dmarc, mail_from, last_observed_at, created_at }'
      security:
      - bearerAuth: []
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      - name: domain_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            example: {}
      responses:
        '200':
          description: '{ id, domain, status, dkim_tokens, dmarc, mail_from, last_observed_at, created_at }'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
        '401':
          description: No session, no API key, or the credential does not resolve to this organization.
        '403':
          description: The identity is valid but lacks the required role or scope for this operation.
        '404':
          description: The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere.
      tags:
      - Organizations
  /api/organizations/{organization_id}/domains/{domain_id}/smoke:
    post:
      operationId: commsharbor_domain_smoke
      summary: Queue one controlled smoke message to the server-side QA recipient
      description: 'The request never accepts a recipient: the destination is a server-side secret. That is what keeps this from becoming a way to send mail to arbitrary addresses through someone else''s verified domain.

        Returns: { delivery{id,status,domain_id,template_id,template_version,ses_message_id,created_at}, capacity{remaining,global_remaining,hard_cap}, dispatch{queued,job_id} }'
      security:
      - bearerAuth: []
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      - name: domain_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            example: {}
      responses:
        '200':
          description: '{ delivery{id,status,domain_id,template_id,template_version,ses_message_id,created_at}, capacity{remaining,global_remaining,hard_cap}, dispatch{queued,job_id} }'
          content:
            application/json:
              schema:
                type: object
                properties:
                  delivery:
                    allOf:
                    - $ref: '#/components/schemas/Delivery'
                    description: The delivery record for the smoke.
                  capacity:
                    allOf:
                    - $ref: '#/components/schemas/Capacity'
                    description: What is left to send after it.
                  dispatch:
                    allOf:
                    - $ref: '#/components/schemas/Dispatch'
                    description: The queue work behind it.
                required:
                - delivery
                - capacity
                - dispatch
        '401':
          description: No session, no API key, or the credential does not resolve to this organization.
        '403':
          description: The identity is valid but lacks the required role or scope for this operation.
        '404':
          description: The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere.
        '409':
          description: The domain is not active yet — verify it first.
        '429':
          description: No capacity left.
      tags:
      - Organizations
  /api/organizations/{organization_id}/domains/{domain_id}/deliveries:
    get:
      operationId: commsharbor_domain_deliveries
      summary: List deliveries sent from one domain, without recipient addresses
      description: 'Returns: { items[{id,status,domain_id,template_id,template_version,ses_message_id,created_at}] }'
      security:
      - bearerAuth: []
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      - name: domain_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '{ items[{id,status,domain_id,template_id,template_version,ses_message_id,created_at}] }'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListaDelivery'
        '401':
          description: No session, no API key, or the credential does not resolve to this organization.
        '403':
          description: The identity is valid but lacks the required role or scope for this operation.
        '404':
          description: The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere.
      tags:
      - Organizations
  /api/organizations/{organization_id}/deliveries/{delivery_id}:
    get:
      operationId: commsharbor_delivery_get
      summary: Read one delivery and its SES MessageId, without recipient data
      description: '`ses_message_id` is what correlates this record with AWS when you need to chase a message there.

        Returns: { id, status, domain_id, template_id, template_version, ses_message_id, created_at }'
      security:
      - bearerAuth: []
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      - name: delivery_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '{ id, status, domain_id, template_id, template_version, ses_message_id, created_at }'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Delivery'
        '401':
          description: No session, no API key, or the credential does not resolve to this organization.
        '403':
          description: The identity is valid but lacks the required role or scope for this operation.
        '404':
          description: The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere.
      tags:
      - Organizations
  /api/organizations/{organization_id}/deliveries/{delivery_id}/events:
    get:
      operationId: commsharbor_delivery_events
      summary: List the normalized SES feedback events for one delivery
      description: 'Open and Click are ADDITIVE: they are recorded alongside delivery state and never overwrite it.

        Returns: { items[{id,event_type,occurred_at,detail}] }'
      security:
      - bearerAuth: []
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      - name: delivery_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '{ items[{id,event_type,occurred_at,detail}] }'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListaDeliveryEvent'
        '401':
          description: No session, no API key, or the credential does not resolve to this organization.
        '403':
          description: The identity is valid but lacks the required role or scope for this operation.
        '404':
          description: The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere.
      tags:
      - Organizations
  /api/organizations/{organization_id}/crm/contacts:
    get:
      operationId: commsharbor_crm_contacts_list
      summary: List contacts in the tenant CRM — a person in the tenant CRM
      description: 'Being in the CRM is not permission to email: consent lives in the `marketing` sub-resource.

        Returns: { items[{id,email,first_name,last_name,company_id,created_at,updated_at,url}], next_cursor }'
      security:
      - bearerAuth: []
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      - name: cursor
        in: query
        required: false
        schema:
          type: string
        description: Opaque cursor from the previous page. Do not build or parse it.
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 50
        description: Page size, from 1 to 100.
      - name: q
        in: query
        required: false
        schema:
          type: string
        description: Free-text search over the record's main fields.
      - name: company_id
        in: query
        required: false
        schema:
          type: string
        description: Restrict to one CRM company.
      responses:
        '200':
          description: '{ items[{id,email,first_name,last_name,company_id,created_at,updated_at,url}], next_cursor }'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageContact'
        '401':
          description: No session, no API key, or the credential does not resolve to this organization.
        '403':
          description: The identity is valid but lacks the required role or scope for this operation.
        '404':
          description: The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere.
      tags:
      - Organizations
    post:
      operationId: commsharbor_crm_contacts_create
      summary: Create a contact in the tenant CRM
      description: 'Being in the CRM is not permission to email: consent lives in the `marketing` sub-resource.

        Returns: { id, email, first_name, last_name, company_id, created_at, updated_at, url }'
      security:
      - bearerAuth: []
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: Email address. Normalized and never truncated.
                first_name:
                  type: string
                  description: Given name of the contact.
                last_name:
                  type: string
                  description: Family name.
                company_id:
                  type: string
                  description: Company this contact belongs to.
              required:
              - email
              - first_name
            example:
              email: buyer@example.com
              first_name: Buyer
              company_id: co_…
      responses:
        '200':
          description: '{ id, email, first_name, last_name, company_id, created_at, updated_at, url }'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
        '400':
          description: A required field is missing, or a referenced record does not exist here.
        '401':
          description: No session, no API key, or the credential does not resolve to this organization.
        '403':
          description: The identity is valid but lacks the required role or scope for this operation.
        '404':
          description: The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere.
      tags:
      - Organizations
  /api/organizations/{organization_id}/crm/contacts/{contact_id}:
    get:
      operationId: commsharbor_crm_contacts_get
      summary: Read one contact from the tenant CRM
      description: 'Being in the CRM is not permission to email: consent lives in the `marketing` sub-resource.

        Returns: { id, email, first_name, last_name, company_id, created_at, updated_at, url }'
      security:
      - bearerAuth: []
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      - name: contact_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '{ id, email, first_name, last_name, company_id, created_at, updated_at, url }'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
        '401':
          description: No session, no API key, or the credential does not resolve to this organization.
        '403':
          description: The identity is valid but lacks the required role or scope for this operation.
        '404':
          description: The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere.
      tags:
      - Organizations
    patch:
      operationId: commsharbor_crm_contacts_update
      summary: Update one contact in the tenant CRM. Only the fields you send change
      description: 'Being in the CRM is not permission to email: consent lives in the `marketing` sub-resource.

        Returns: { id, email, first_name, last_name, company_id, created_at, updated_at, url }'
      security:
      - bearerAuth: []
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      - name: contact_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: Email address. Normalized and never truncated.
                first_name:
                  type: string
                  description: Given name of the contact.
                last_name:
                  type: string
                  description: Family name.
                company_id:
                  type: string
                  description: Company this contact belongs to.
              required:
              - email
              - first_name
            example:
              email: buyer@example.com
              first_name: Buyer
              company_id: co_…
      responses:
        '200':
          description: '{ id, email, first_name, last_name, company_id, created_at, updated_at, url }'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
        '400':
          description: A field is invalid, or a referenced record does not exist here.
        '401':
          description: No session, no API key, or the credential does not resolve to this organization.
        '403':
          description: The identity is valid but lacks the required role or scope for this operation.
        '404':
          description: The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere.
      tags:
      - Organizations
    delete:
      operationId: commsharbor_crm_contacts_delete
      summary: Delete one contact from the tenant CRM.
      description: 'Being in the CRM is not permission to email: consent lives in the `marketing` sub-resource.

        Returns: { id, email, first_name, last_name, company_id, created_at, updated_at, url }'
      security:
      - bearerAuth: []
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      - name: contact_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '{ id, email, first_name, last_name, company_id, created_at, updated_at, url }'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
        '401':
          description: No session, no API key, or the credential does not resolve to this organization.
        '403':
          description: The identity is valid but lacks the required role or scope for this operation.
        '404':
          description: The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere.
      tags:
      - Organizations
  /api/organizations/{organization_id}/crm/companies:
    get:
      operationId: commsharbor_crm_companies_list
      summary: List companies in the tenant CRM — an organization in the tenant CRM — a…
      description: 'Returns: { items[{id,name,domain,website,created_at,updated_at,url}], next_cursor }'
      security:
      - bearerAuth: []
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      - name: cursor
        in: query
        required: false
        schema:
          type: string
        description: Opaque cursor from the previous page. Do not build or parse it.
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 50
        description: Page size, from 1 to 100.
      - name: q
        in: query
        required: false
        schema:
          type: string
        description: Free-text search over the record's main fields.
      responses:
        '200':
          description: '{ items[{id,name,domain,website,created_at,updated_at,url}], next_cursor }'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageCompany'
        '401':
          description: No session, no API key, or the credential does not resolve to this organization.
        '403':
          description: The identity is valid but lacks the required role or scope for this operation.
        '404':
          description: The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere.
      tags:
      - Organizations
    post:
      operationId: commsharbor_crm_companies_create
      summary: Create a company in the tenant CRM
      description: 'Returns: { id, name, domain, website, created_at, updated_at, url }'
      security:
      - bearerAuth: []
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Company name.
                domain:
                  type: string
                  description: Primary domain, used to group contacts.
                website:
                  type: string
                  description: Website URL.
              required:
              - name
            example:
              name: Acme
              domain: example.com
              website: https://example.com
      responses:
        '200':
          description: '{ id, name, domain, website, created_at, updated_at, url }'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
        '400':
          description: A required field is missing, or a referenced record does not exist here.
        '401':
          description: No session, no API key, or the credential does not resolve to this organization.
        '403':
          description: The identity is valid but lacks the required role or scope for this operation.
        '404':
          description: The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere.
      tags:
      - Organizations
  /api/organizations/{organization_id}/crm/companies/{company_id}:
    get:
      operationId: commsharbor_crm_companies_get
      summary: Read one company from the tenant CRM
      description: 'Returns: { id, name, domain, website, created_at, updated_at, url }'
      security:
      - bearerAuth: []
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      - name: company_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '{ id, name, domain, website, created_at, updated_at, url }'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
        '401':
          description: No session, no API key, or the credential does not resolve to this organization.
        '403':
          description: The identity is valid but lacks the required role or scope for this operation.
        '404':
          description: The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere.
      tags:
      - Organizations
    patch:
      operationId: commsharbor_crm_companies_update
      summary: Update one company in the tenant CRM. Only the fields you send change
      description: 'Returns: { id, name, domain, website, created_at, updated_at, url }'
      security:
      - bearerAuth: []
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      - name: company_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Company name.
                domain:
                  type: string
                  description: Primary domain, used to group contacts.
                website:
                  type: string
                  description: Website URL.
              required:
              - name
            example:
              name: Acme
              domain: example.com
              website: https://example.com
      responses:
        '200':
          description: '{ id, name, domain, website, created_at, updated_at, url }'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
        '400':
          description: A field is invalid, or a referenced record does not exist here.
        '401':
          description: No session, no API key, or the credential does not resolve to this organization.
        '403':
          description: The identity is valid but lacks the required role or scope for this operation.
        '404':
          description: The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere.
      tags:
      - Organizations
    delete:
      operationId: commsharbor_crm_companies_delete
      summary: Delete one company from the tenant CRM.
      description: 'Returns: { id, name, domain, website, created_at, updated_at, url }'
      security:
      - bearerAuth: []
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      - name: company_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '{ id, name, domain, website, created_at, updated_at, url }'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
        '401':
          description: No session, no API key, or the credential does not resolve to this organization.
        '403':
          description: The identity is valid but lacks the required role or scope for this operation.
        '404':
          description: The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere.
      tags:
      - Organizations
  /api/organizations/{organization_id}/crm/pipelines:
    get:
      operationId: commsharbor_crm_pipelines_list
      summary: List pipelines in the tenant CRM — a named sequence of stages that deals move…
      description: 'Returns: { items[{id,name,created_at,url}], next_cursor }'
      security:
      - bearerAuth: []
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      - name: cursor
        in: query
        required: false
        schema:
          type: string
        description: Opaque cursor from the previous page. Do not build or parse it.
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 50
        description: Page size, from 1 to 100.
      - name: q
        in: query
        required: false
        schema:
          type: string
        description: Free-text search over the record's main fields.
      responses:
        '200':
          description: '{ items[{id,name,created_at,url}], next_cursor }'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagePipeline'
        '401':
          description: No session, no API key, or the credential does not resolve to this organization.
        '403':
          description: The identity is valid but lacks the required role or scope for this operation.
        '404':
          description: The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere.
      tags:
      - Organizations
    post:
      operationId: commsharbor_crm_pipelines_create
      summary: Create a pipeline in the tenant CRM
      description: 'Returns: { id, name, created_at, url }'
      security:
      - bearerAuth: []
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Pipeline name.
                stages:
                  type: array
                  items:
                    type: string
                  description: Stage names to create with the pipeline, in order.
              required:
              - name
            example:
              name: Sales
              stages:
              - New
              - Proposal
              - Won
      responses:
        '200':
          description: '{ id, name, created_at, url }'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pipeline'
        '400':
          description: A required field is missing, or a referenced record does not exist here.
        '401':
          description: No session, no API key, or the credential does not resolve to this organization.
        '403':
          description: The identity is valid but lacks the required role or scope for this operation.
        '404':
          description: The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere.
      tags:
      - Organizations
  /api/organizations/{organization_id}/crm/pipelines/{pipeline_id}:
    get:
      operationId: commsharbor_crm_pipelines_get
      summary: Read one pipeline from the tenant CRM
      description: 'Returns: { id, name, created_at, url }'
      security:
      - bearerAuth: []
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      - name: pipeline_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '{ id, name, created_at, url }'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pipeline'
        '401':
          description: No session, no API key, or the credential does not resolve to this organization.
        '403':
          description: The identity is valid but lacks the required role or scope for this operation.
        '404':
          description: The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere.
      tags:
      - Organizations
    patch:
      operationId: commsharbor_crm_pipelines_update
      summary: Update one pipeline in the tenant CRM. Only the fields you send change
      description: 'Returns: { id, name, created_at, url }'
      security:
      - bearerAuth: []
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      - name: pipeline_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Pipeline name.
                stages:
                  type: array
                  items:
                    type: string
                  description: Stage names to create with the pipeline, in order.
              required:
              - name
            example:
              name: Sales
              stages:
              - New
              - Proposal
              - Won
      responses:
        '200':
          description: '{ id, name, created_at, url }'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pipeline'
        '400':
          description: A field is invalid, or a referenced record does not exist here.
        '401':
          description: No session, no API key, or the credential does not resolve to this organization.
        '403':
          description: The identity is valid but lacks the required role or scope for this operation.
        '404':
          description: The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere.
      tags:
      - Organizations
    delete:
      operationId: commsharbor_crm_pipelines_delete
      summary: Delete one pipeline from the tenant CRM.
      description: 'Returns: { id, name, created_at, url }'
      security:
      - bearerAuth: []
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      - name: pipeline_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '{ id, name, created_at, url }'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pipeline'
        '401':
          description: No session, no API key, or the credential does not resolve to this organization.
        '403':
          description: The identity is valid but lacks the required role or scope for this operation.
        '404':
          description: The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere.
      tags:
      - Organizations
  /api/organizations/{organization_id}/crm/deals:
    get:
      operationId: commsharbor_crm_deals_list
      summary: List deals in the tenant CRM — an opportunity moving through a pipeline
      description: 'Money is in minor units: `value_minor: 10000` with `currency: "USD"` is $100.00, not $10,000.

        Returns: { items[{id,title,pipeline_id,stage_id,status,value_minor,currency,contact_id,company_id,created_at,updated_at,url}], next_cursor }'
      security:
      - bearerAuth: []
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      - name: cursor
        in: query
        required: false
        schema:
          type: string
        description: Opaque cursor from the previous page. Do not build or parse it.
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 50
        description: Page size, from 1 to 100.
      - name: q
        in: query
        required: false
        schema:
          type: string
        description: Free-text search over the record's main fields.
      - name: pipeline_id
        in: query
        required: false
        schema:
          type: string
        description: Restrict to one pipeline.
      - name: stage_id
        in: query
        required: false
        schema:
          type: string
        description: Restrict to one pipeline stage.
      - name: status
        in: query
        required: false
        schema:
          type: string
        description: Restrict to one status value.
      responses:
        '200':
          description: '{ items[{id,title,pipeline_id,stage_id,status,value_minor,currency,contact_id,company_id,created_at,updated_at,url}], next_cursor }'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageDeal'
        '401':
          description: No session, no API key, or the credential does not resolve to this organization.
        '403':
          description: The identity is valid but lacks the required role or scope for this operation.
        '404':
          description: The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere.
      tags:
      - Organizations
    post:
      operationId: commsharbor_crm_deals_create
      summary: Create a deal in the tenant CRM
      description: 'Money is in minor units: `value_minor: 10000` with `currency: "USD"` is $100.00, not $10,000.

        Returns: { id, title, pipeline_id, stage_id, status, value_minor, currency, contact_id, company_id, created_at, updated_at, url }'
      security:
      - bearerAuth: []
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: What the deal is.
                pipeline_id:
                  type: string
                  description: Pipeline the deal lives in.
                stage_id:
                  type: string
                  description: Stage the deal is at.
                value_minor:
                  type: integer
                  description: Value in the currency's MINOR unit — cents, not dollars.
                currency:
                  type: string
                  description: ISO 4217 code for `value_minor`.
              required:
              - title
              - pipeline_id
              - stage_id
            example:
              title: Renewal
              pipeline_id: pl_…
              stage_id: st_…
              value_minor: 10000
              currency: USD
      responses:
        '200':
          description: '{ id, title, pipeline_id, stage_id, status, value_minor, currency, contact_id, company_id, created_at, updated_at, url }'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deal'
        '400':
          description: A required field is missing, or a referenced record does not exist here.
        '401':
          description: No session, no API key, or the credential does not resolve to this organization.
        '403':
          description: The identity is valid but lacks the required role or scope for this operation.
        '404':
          description: The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere.
      tags:
      - Organizations
  /api/organizations/{organization_id}/crm/deals/{deal_id}:
    get:
      operationId: commsharbor_crm_deals_get
      summary: Read one deal from the tenant CRM
      description: 'Money is in minor units: `value_minor: 10000` with `currency: "USD"` is $100.00, not $10,000.

        Returns: { id, title, pipeline_id, stage_id, status, value_minor, currency, contact_id, company_id, created_at, updated_at, url }'
      security:
      - bearerAuth: []
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      - name: deal_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '{ id, title, pipeline_id, stage_id, status, value_minor, currency, contact_id, company_id, created_at, updated_at, url }'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deal'
        '401':
          description: No session, no API key, or the credential does not resolve to this organization.
        '403':
          description: The identity is valid but lacks the required role or scope for this operation.
        '404':
          description: The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere.
      tags:
      - Organizations
    patch:
      operationId: commsharbor_crm_deals_update
      summary: Update one deal in the tenant CRM. Only the fields you send change
      description: 'Money is in minor units: `value_minor: 10000` with `currency: "USD"` is $100.00, not $10,000.

        Returns: { id, title, pipeline_id, stage_id, status, value_minor, currency, contact_id, company_id, created_at, updated_at, url }'
      security:
      - bearerAuth: []
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      - name: deal_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: What the deal is.
                pipeline_id:
                  type: string
                  description: Pipeline the deal lives in.
                stage_id:
                  type: string
                  description: Stage the deal is at.
                value_minor:
                  type: integer
                  description: Value in the currency's MINOR unit — cents, not dollars.
                currency:
                  type: string
                  description: ISO 4217 code for `value_minor`.
              required:
              - title
              - pipeline_id
              - stage_id
            example:
              title: Renewal
              pipeline_id: pl_…
              stage_id: st_…
              value_minor: 10000
              currency: USD
      responses:
        '200':
          description: '{ id, title, pipeline_id, stage_id, status, value_minor, currency, contact_id, company_id, created_at, updated_at, url }'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deal'
        '400':
          description: A field is invalid, or a referenced record does not exist here.
        '401':
          description: No session, no API key, or the credential does not resolve to this organization.
        '403':
          description: The identity is valid but lacks the required role or scope for this operation.
        '404':
          description: The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere.
      tags:
      - Organizations
    delete:
      operationId: commsharbor_crm_deals_delete
      summary: Delete one deal from the tenant CRM. The response carries the record as it was
      description: 'Money is in minor units: `value_minor: 10000` with `currency: "USD"` is $100.00, not $10,000.

        Returns: { id, title, pipeline_id, stage_id, status, value_minor, currency, contact_id, company_id, created_at, updated_at, url }'
      security:
      - bearerAuth: []
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      - name: deal_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '{ id, title, pipeline_id, stage_id, status, value_minor, currency, contact_id, company_id, created_at, updated_at, url }'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deal'
        '401':
          description: No session, no API key, or the credential does not resolve to this organization.
        '403':
          description: The identity is valid but lacks the required role or scope for this operation.
        '404':
          description: The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere.
      tags:
      - Organizations
  /api/organizations/{organization_id}/crm/activities:
    get:
      operationId: commsharbor_crm_activities_list
      summary: List activities in the tenant CRM — something that happened with a contact…
      description: 'Returns: { items[{id,activity_type,note,deal_id,contact_id,company_id,created_at,url}], next_cursor }'
      security:
      - bearerAuth: []
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      - name: cursor
        in: query
        required: false
        schema:
          type: string
        description: Opaque cursor from the previous page. Do not build or parse it.
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 50
        description: Page size, from 1 to 100.
      - name: q
        in: query
        required: false
        schema:
          type: string
        description: Free-text search over the record's main fields.
      - name: deal_id
        in: query
        required: false
        schema:
          type: string
        description: Restrict to one deal.
      - name: contact_id
        in: query
        required: false
        schema:
          type: string
        description: Restrict to one CRM contact.
      - name: company_id
        in: query
        required: false
        schema:
          type: string
        description: Restrict to one CRM company.
      - name: activity_type
        in: query
        required: false
        schema:
          type: string
        description: Restrict to one activity type, e.g. `note` or `call`.
      responses:
        '200':
          description: '{ items[{id,activity_type,note,deal_id,contact_id,company_id,created_at,url}], next_cursor }'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageActivity'
        '401':
          description: No session, no API key, or the credential does not resolve to this organization.
        '403':
          description: The identity is valid but lacks the required role or scope for this operation.
        '404':
          description: The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere.
      tags:
      - Organizations
    post:
      operationId: commsharbor_crm_activities_create
      summary: Create a activity in the tenant CRM
      description: 'Returns: { id, activity_type, note, deal_id, contact_id, company_id, created_at, url }'
      security:
      - bearerAuth: []
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                note:
                  type: string
                  description: The text of the activity.
                activity_type:
                  type: string
                  description: What kind it was, e.g. `note`, `call`, `meeting`.
                deal_id:
                  type: string
                  description: Deal it refers to.
                contact_id:
                  type: string
                  description: Contact it refers to.
                company_id:
                  type: string
                  description: Company it refers to.
              required:
              - note
            example:
              activity_type: note
              note: Followed up
              deal_id: de_…
      responses:
        '200':
          description: '{ id, activity_type, note, deal_id, contact_id, company_id, created_at, url }'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Activity'
        '400':
          description: A required field is missing, or a referenced record does not exist here.
        '401':
          description: No session, no API key, or the credential does not resolve to this organization.
        '403':
          description: The identity is valid but lacks the required role or scope for this operation.
        '404':
          description: The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere.
      tags:
      - Organizations
  /api/organizations/{organization_id}/crm/activities/{activity_id}:
    get:
      operationId: commsharbor_crm_activities_get
      summary: Read one activity from the tenant CRM
      description: 'Returns: { id, activity_type, note, deal_id, contact_id, company_id, created_at, url }'
      security:
      - bearerAuth: []
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      - name: activity_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '{ id, activity_type, note, deal_id, contact_id, company_id, created_at, url }'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Activity'
        '401':
          description: No session, no API key, or the credential does not resolve to this organization.
        '403':
          description: The identity is valid but lacks the required role or scope for this operation.
        '404':
          description: The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere.
      tags:
      - Organizations
    patch:
      operationId: commsharbor_crm_activities_update
      summary: Update one activity in the tenant CRM. Only the fields you send change
      description: 'Returns: { id, activity_type, note, deal_id, contact_id, company_id, created_at, url }'
      security:
      - bearerAuth: []
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      - name: activity_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                note:
                  type: string
                  description: The text of the activity.
                activity_type:
                  type: string
                  description: What kind it was, e.g. `note`, `call`, `meeting`.
                deal_id:
                  type: string
                  description: Deal it refers to.
                contact_id:
                  type: string
                  description: Contact it refers to.
                company_id:
                  type: string
                  description: Company it refers to.
              required:
              - note
            example:
              activity_type: note
              note: Followed up
              deal_id: de_…
      responses:
        '200':
          description: '{ id, activity_type, note, deal_id, contact_id, company_id, created_at, url }'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Activity'
        '400':
          description: A field is invalid, or a referenced record does not exist here.
        '401':
          description: No session, no API key, or the credential does not resolve to this organization.
        '403':
          description: The identity is valid but lacks the required role or scope for this operation.
        '404':
          description: The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere.
      tags:
      - Organizations
    delete:
      operationId: commsharbor_crm_activities_delete
      summary: Delete one activity from the tenant CRM.
      description: 'Returns: { id, activity_type, note, deal_id, contact_id, company_id, created_at, url }'
      security:
      - bearerAuth: []
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      - name: activity_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '{ id, activity_type, note, deal_id, contact_id, company_id, created_at, url }'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Activity'
        '401':
          description: No session, no API key, or the credential does not resolve to this organization.
        '403':
          description: The identity is valid but lacks the required role or scope for this operation.
        '404':
          description: The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere.
      tags:
      - Organizations
  /api/organizations/{organization_id}/crm/tasks:
    get:
      operationId: commsharbor_crm_tasks_list
      summary: List tasks in the tenant CRM — work someone still has to do in the tenant CRM
      description: 'Returns: { items[{id,title,status,due_at,assignee_user_id,deal_id,contact_id,created_at,updated_at,url}], next_cursor }'
      security:
      - bearerAuth: []
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      - name: cursor
        in: query
        required: false
        schema:
          type: string
        description: Opaque cursor from the previous page. Do not build or parse it.
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 50
        description: Page size, from 1 to 100.
      - name: q
        in: query
        required: false
        schema:
          type: string
        description: Free-text search over the record's main fields.
      - name: status
        in: query
        required: false
        schema:
          type: string
        description: Restrict to one status value.
      - name: deal_id
        in: query
        required: false
        schema:
          type: string
        description: Restrict to one deal.
      - name: contact_id
        in: query
        required: false
        schema:
          type: string
        description: Restrict to one CRM contact.
      - name: assignee_user_id
        in: query
        required: false
        schema:
          type: string
        description: Restrict to the member the work is assigned to.
      responses:
        '200':
          description: '{ items[{id,title,status,due_at,assignee_user_id,deal_id,contact_id,created_at,updated_at,url}], next_cursor }'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageTask'
        '401':
          description: No session, no API key, or the credential does not resolve to this organization.
        '403':
          description: The identity is valid but lacks the required role or scope for this operation.
        '404':
          description: The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere.
      tags:
      - Organizations
    post:
      operationId: commsharbor_crm_tasks_create
      summary: Create a task in the tenant CRM
      description: 'Returns: { id, title, status, due_at, assignee_user_id, deal_id, contact_id, created_at, updated_at, url }'
      security:
      - bearerAuth: []
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: What has to be done.
                status:
                  type: string
                  description: Current state.
                due_at:
                  type: string
                  description: When it is due, ISO-8601.
                assignee_user_id:
                  type: string
                  description: Member responsible for it.
                deal_id:
                  type: string
                  description: Deal the task belongs to.
                contact_id:
                  type: string
                  description: Contact the task belongs to.
              required:
              - title
            example:
              title: Follow up
              status: open
              deal_id: de_…
      responses:
        '200':
          description: '{ id, title, status, due_at, assignee_user_id, deal_id, contact_id, created_at, updated_at, url }'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        '400':
          description: A required field is missing, or a referenced record does not exist here.
        '401':
          description: No session, no API key, or the credential does not resolve to this organization.
        '403':
          description: The identity is valid but lacks the required role or scope for this operation.
        '404':
          description: The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere.
      tags:
      - Organizations
  /api/organizations/{organization_id}/crm/tasks/{task_id}:
    get:
      operationId: commsharbor_crm_tasks_get
      summary: Read one task from the tenant CRM
      description: 'Returns: { id, title, status, due_at, assignee_user_id, deal_id, contact_id, created_at, updated_at, url }'
      security:
      - bearerAuth: []
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      - name: task_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '{ id, title, status, due_at, assignee_user_id, deal_id, contact_id, created_at, updated_at, url }'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        '401':
          description: No session, no API key, or the credential does not resolve to this organization.
        '403':
          description: The identity is valid but lacks the required role or scope for this operation.
        '404':
          description: The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere.
      tags:
      - Organizations
    patch:
      operationId: commsharbor_crm_tasks_update
      summary: Update one task in the tenant CRM. Only the fields you send change
      description: 'Returns: { id, title, status, due_at, assignee_user_id, deal_id, contact_id, created_at, updated_at, url }'
      security:
      - bearerAuth: []
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      - name: task_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: What has to be done.
                status:
                  type: string
                  description: Current state.
                due_at:
                  type: string
                  description: When it is due, ISO-8601.
                assignee_user_id:
                  type: string
                  description: Member responsible for it.
                deal_id:
                  type: string
                  description: Deal the task belongs to.
                contact_id:
                  type: string
                  description: Contact the task belongs to.
              required:
              - title
            example:
              title: Follow up
              status: open
              deal_id: de_…
      responses:
        '200':
          description: '{ id, title, status, due_at, assignee_user_id, deal_id, contact_id, created_at, updated_at, url }'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        '400':
          description: A field is invalid, or a referenced record does not exist here.
        '401':
          description: No session, no API key, or the credential does not resolve to this organization.
        '403':
          description: The identity is valid but lacks the required role or scope for this operation.
        '404':
          description: The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere.
      tags:
      - Organizations
    delete:
      operationId: commsharbor_crm_tasks_delete
      summary: Delete one task from the tenant CRM. The response carries the record as it was
      description: 'Returns: { id, title, status, due_at, assignee_user_id, deal_id, contact_id, created_at, updated_at, url }'
      security:
      - bearerAuth: []
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      - name: task_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '{ id, title, status, due_at, assignee_user_id, deal_id, contact_id, created_at, updated_at, url }'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        '401':
          description: No session, no API key, or the credential does not resolve to this organization.
        '403':
          description: The identity is valid but lacks the required role or scope for this operation.
        '404':
          description: The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere.
      tags:
      - Organizations
  /api/organizations/{organization_id}/crm/pipelines/{pipeline_id}/stages:
    get:
      operationId: commsharbor_crm_stages_list
      summary: List stages in the tenant CRM — one step of a pipeline, addressed under the…
      description: 'Returns: { items[{id,pipeline_id,name,position,probability,url}], next_cursor }'
      security:
      - bearerAuth: []
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      - name: pipeline_id
        in: path
        required: true
        schema:
          type: string
      - name: cursor
        in: query
        required: false
        schema:
          type: string
        description: Opaque cursor from the previous page. Do not build or parse it.
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 50
        description: Page size, from 1 to 100.
      responses:
        '200':
          description: '{ items[{id,pipeline_id,name,position,probability,url}], next_cursor }'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageStage'
        '401':
          description: No session, no API key, or the credential does not resolve to this organization.
        '403':
          description: The identity is valid but lacks the required role or scope for this operation.
        '404':
          description: The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere.
      tags:
      - Organizations
    post:
      operationId: commsharbor_crm_stages_create
      summary: Create a stage in the tenant CRM
      description: 'Returns: { id, pipeline_id, name, position, probability, url }'
      security:
      - bearerAuth: []
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      - name: pipeline_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Stage name, e.g. `Proposal`.
                position:
                  type: integer
                  description: Order within the pipeline, lowest first.
                probability:
                  type: integer
                  description: Chance of winning at this stage, 0 to 100.
              required:
              - name
            example:
              name: Proposal
              position: 2
              probability: 60
      responses:
        '200':
          description: '{ id, pipeline_id, name, position, probability, url }'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stage'
        '400':
          description: A required field is missing, or a referenced record does not exist here.
        '401':
          description: No session, no API key, or the credential does not resolve to this organization.
        '403':
          description: The identity is valid but lacks the required role or scope for this operation.
        '404':
          description: The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere.
      tags:
      - Organizations
  /api/organizations/{organization_id}/crm/pipelines/{pipeline_id}/stages/{stage_id}:
    get:
      operationId: commsharbor_crm_stages_get
      summary: Read one stage from the tenant CRM
      description: 'Returns: { id, pipeline_id, name, position, probability, url }'
      security:
      - bearerAuth: []
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      - name: pipeline_id
        in: path
        required: true
        schema:
          type: string
      - name: stage_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '{ id, pipeline_id, name, position, probability, url }'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stage'
        '401':
          description: No session, no API key, or the credential does not resolve to this organization.
        '403':
          description: The identity is valid but lacks the required role or scope for this operation.
        '404':
          description: The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere.
      tags:
      - Organizations
    patch:
      operationId: commsharbor_crm_stages_update
      summary: Update one stage in the tenant CRM. Only the fields you send change
      description: 'Returns: { id, pipeline_id, name, position, probability, url }'
      security:
      - bearerAuth: []
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      - name: pipeline_id
        in: path
        required: true
        schema:
          type: string
      - name: stage_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Stage name, e.g. `Proposal`.
                position:
                  type: integer
                  description: Order within the pipeline, lowest first.
                probability:
                  type: integer
                  description: Chance of winning at this stage, 0 to 100.
              required:
              - name
            example:
              name: Proposal
              position: 2
              probability: 60
      responses:
        '200':
          description: '{ id, pipeline_id, name, position, probability, url }'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stage'
        '400':
          description: A field is invalid, or a referenced record does not exist here.
        '401':
          description: No session, no API key, or the credential does not resolve to this organization.
        '403':
          description: The identity is valid but lacks the required role or scope for this operation.
        '404':
          description: The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere.
      tags:
      - Organizations
    delete:
      operationId: commsharbor_crm_stages_delete
      summary: Delete one stage from the tenant CRM. The response carries the record as it was
      description: 'Returns: { id, pipeline_id, name, position, probability, url }'
      security:
      - bearerAuth: []
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      - name: pipeline_id
        in: path
        required: true
        schema:
          type: string
      - name: stage_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '{ id, pipeline_id, name, position, probability, url }'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stage'
        '401':
          description: No session, no API key, or the credential does not resolve to this organization.
        '403':
          description: The identity is valid but lacks the required role or scope for this operation.
        '404':
          description: The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere.
      tags:
      - Organizations
  /api/organizations/{organization_id}/crm/contacts/{contact_id}/marketing:
    get:
      operationId: commsharbor_contact_marketing_get
      summary: Read consent and marketing preference for one CRM contact
      description: 'Being in the CRM is not permission to email. This resource is where permission actually lives.

        Returns: { marketing_enabled, basis, source, captured_at, unsubscribed_at }'
      security:
      - bearerAuth: []
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      - name: contact_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '{ marketing_enabled, basis, source, captured_at, unsubscribed_at }'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Marketing'
        '401':
          description: No session, no API key, or the credential does not resolve to this organization.
        '403':
          description: The identity is valid but lacks the required role or scope for this operation.
        '404':
          description: The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere.
      tags:
      - Organizations
    put:
      operationId: commsharbor_contact_marketing_put
      summary: Record permission-based marketing consent for one contact
      description: 'This NEVER restores a previous unsubscribe. If the contact opted out, they stay out and `marketing_enabled` remains false — recording consent after the fact does not undo their decision.

        Returns: { marketing_enabled, basis, source, captured_at, unsubscribed_at }'
      security:
      - bearerAuth: []
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      - name: contact_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                basis:
                  type: string
                  description: Why sending is allowed.
                source:
                  type: string
                  description: Where the consent came from, e.g. the signup form that captured it.
                captured_at:
                  type: string
                  description: When consent was captured, ISO-8601.
              required:
              - basis
              - source
              - captured_at
            example:
              basis: explicit
              source: website signup form
              captured_at: '2026-08-29T12:00:00.000Z'
      responses:
        '200':
          description: '{ marketing_enabled, basis, source, captured_at, unsubscribed_at }'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Marketing'
        '400':
          description: Missing basis, source or capture time, or an unknown basis.
        '401':
          description: No session, no API key, or the credential does not resolve to this organization.
        '403':
          description: The identity is valid but lacks the required role or scope for this operation.
        '404':
          description: The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere.
      tags:
      - Organizations
  /api/organizations/{organization_id}/crm/contacts/{contact_id}/preference-token:
    post:
      operationId: commsharbor_preference_token_create
      summary: Create a signed preference and one-click unsubscribe capability for a contact
      description: 'The capability is scoped to one organization and one contact, it expires, and it embeds no email address. Put `marketing_headers` in the message and the unsubscribe works without a login.

        Returns: { api_url, preferences_url, unsubscribe_url, marketing_headers }'
      security:
      - bearerAuth: []
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      - name: contact_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            example: {}
      responses:
        '200':
          description: '{ api_url, preferences_url, unsubscribe_url, marketing_headers }'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferenceToken'
        '401':
          description: No session, no API key, or the credential does not resolve to this organization.
        '403':
          description: The identity is valid but lacks the required role or scope for this operation.
        '404':
          description: The resource does not exist in this organization. Another tenant's ID answers the same 404 — the API never confirms that it exists elsewhere.
      tags:
      - Organizations
  /api/organizations/{organization_id}/domains/{domain_id}/marketing-smoke:
    post:
      operationId: commsharbor_marketing_smoke
      summary: Queue one controlled permission-based marketing message to the server-side…
      description: 'Like the transactional smoke, the destination is a server-side secret. `contact_id` must be the CRM contact that matches it — you cannot point this at an arbitrary person.

        Returns: { delivery{id,status,domain_id,template_id,template_version,ses_message_id,created_at}, capacity{remaining,global_remaining,hard_cap}, dispatch{queued,job_id}, replayed }'
      security:
      - bearerAuth: []
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      - name: domain_id
        in: path
        required: true
        schema:
          type: string
      - name: Idempotency-Key
        in: header
        required: true
        schema:
          type: string
        description: Unique key for this controlled send. Replaying the same key returns the same result and produces NO second Queue message; a different payload under the same key conflicts.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                contact_id:
                  type: string
                  description: CRM contact matching the server-side QA recipient.
              required:
              - contact_id
            example:
              contact_id: ct_controlled
      responses:
        '200':
          description: '{ delivery{id,status,domain_id,template_id,template_version,ses_message_id,created_at}, capacity{remaining,global_remaining,hard_cap}, dispatch{queued,job_id}, replayed }'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Send'
[...]
